.sec_hero {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0;
  padding: 176px 0;

  background: var(--c-secondary-650);
}

@layer page_title {
  h1.page_title {
    margin: 0;
    padding: 0;

    text-align: center;
  }
}

@layer page_introduction {
  .page_introduction {
    padding: 0;
    margin: 26px auto 39px;

    font-size: 20px;
    text-align: center;
    color: var(--c-secondary-100);
  }
}

@layer start_searching_btn {
  button.model_two.start_searching figure {
    display: flex;
    align-items: center;

    margin: 0 10px 0 0;
  }

  button.model_two.start_searching figure svg {
    width: 19px;
    height: 19px;
  }

  button.model_two.start_searching figure svg path {
    fill: none;
    stroke-width: 3px;
    stroke: var(--c-secondary-000);
  }
}

@layer hero_gradient {
  .hero_gradient {
    display: contents;
  }

  .hero_gradient svg {
    width: 116em;
    height: 116em;
  }
}
