<!DOCTYPE html>

<html lang="en" theme="light">
  <head>
    <title>FAQs - Solitude</title>
    <meta name="author" content="Roger Rovira" />
    <meta name="description" content="Frequently asked questions about Solitude Search." />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="/styles/www.[domain].com/faqs/index.css" />

    <script defer type="module" src="/javascript/utils/detect-theme.js"></script>
  </head>

  <body>
    <script id="load" name="FAQs" type="module" src="/javascript/reusable/loading.js"></script>
    <script type="module" src="/javascript/reusable/navigation-menu.js"></script>
    <script type="module" src="/javascript/reusable/footer.js"></script>

    <main>
      <section id="section-faqs">
        <hgroup>
          <h2>
            Frequently Asked
            <br />
            Questions
          </h2>

          <p>Last Updated February 2024</p>
        </hgroup>

        <div>
          <ol class="accordion">
            <li>
              <input class="faq-input" type="checkbox" id="faq-1" />
              <div class="plus-minus"></div>

              <div class="question-answer">
                <label for="faq-1">
                  <h3>What is Homomorphic Encryption?</h3>
                </label>

                <div>
                  <p>
                    Homomorphic encryption is a cryptographic technique that allows computations to
                    be performed on encrypted data. This ensures that raw data stays fully encrypted
                    during processing, providing privacy while allowing third parties to operate
                    with the message without knowing its content.
                  </p>
                </div>
              </div>
            </li>

            <li>
              <input class="faq-input" type="checkbox" id="faq-2" />
              <div class="plus-minus"></div>

              <div class="question-answer">
                <label for="faq-2">
                  <h3>Which is the meaning of PIR?</h3>
                </label>

                <div>
                  <p>
                    PIR stands for Private Information Retrival and it's a protocol that allows a
                    user to retrieve an item from a server with a database without disclosing which
                    specific item is being retrieved.
                  </p>
                </div>
              </div>
            </li>

            <li>
              <input class="faq-input" type="checkbox" id="faq-3" />
              <div class="plus-minus"></div>

              <div class="question-answer">
                <label for="faq-3">
                  <h3>How Solitude Search works?</h3>
                </label>

                <div>
                  <p>
                    Solitude Search incorporates Blyss's code to facilitate private queries. It
                    leverages Homomorphic Encryption to establish a PIR protocol, ensuring
                    confidentiality in search operations.
                  </p>
                </div>
              </div>
            </li>

            <li>
              <input class="faq-input" type="checkbox" id="faq-4" />
              <div class="plus-minus"></div>

              <div class="question-answer">
                <label for="faq-4">
                  <h3>There's no data collection?</h3>
                </label>

                <div>
                  <p>
                    With Solitude Search, not only is there no data collection, but there's also a
                    guarantee that all data will remain encrypted at all times. Only the user
                    himself will have knowledge of the searches made.
                  </p>
                </div>
              </div>
            </li>

            <li>
              <input class="faq-input" type="checkbox" id="faq-5" />
              <div class="plus-minus"></div>

              <div class="question-answer">
                <label for="faq-5">
                  <h3>There's no data collection?</h3>
                </label>

                <div>
                  <p>
                    With Solitude Search, not only is there no data collection, but there's also a
                    guarantee that all data will remain encrypted at all times. Only the user
                    himself will have knowledge of the searches made.
                  </p>
                </div>
              </div>
            </li>
          </ol>

          <div class="separation-line"></div>

          <ol class="accordion">
            <li>
              <input class="faq-input" type="checkbox" id="faq-6" />
              <div class="plus-minus"></div>

              <div class="question-answer">
                <label for="faq-6">
                  <h3>Which is the meaning of PIR?</h3>
                </label>

                <div>
                  <p>
                    PIR stands for Private Information Retrival and it's a protocol that allows a
                    user to retrieve an item from a server with a database without disclosing which
                    specific item is being retrieved.
                  </p>
                </div>
              </div>
            </li>

            <li>
              <input class="faq-input" type="checkbox" id="faq-7" />
              <div class="plus-minus"></div>

              <div class="question-answer">
                <label for="faq-7">
                  <h3>How Solitude Search works?</h3>
                </label>

                <div>
                  <p>
                    Solitude Search incorporates Blyss's code to facilitate private queries. It
                    leverages Homomorphic Encryption to establish a PIR protocol, ensuring
                    confidentiality in search operations.
                  </p>
                </div>
              </div>
            </li>

            <li>
              <input class="faq-input" type="checkbox" id="faq-8" />
              <div class="plus-minus"></div>

              <div class="question-answer">
                <label for="faq-8">
                  <h3>There's no data collection?</h3>
                </label>

                <div>
                  <p>
                    With Solitude Search, not only is there no data collection, but there's also a
                    guarantee that all data will remain encrypted at all times. Only the user
                    himself will have knowledge of the searches made.
                  </p>
                </div>
              </div>
            </li>

            <li>
              <input class="faq-input" type="checkbox" id="faq-9" />
              <div class="plus-minus"></div>

              <div class="question-answer">
                <label for="faq-9">
                  <h3>There's no data collection?</h3>
                </label>

                <div>
                  <p>
                    With Solitude Search, not only is there no data collection, but there's also a
                    guarantee that all data will remain encrypted at all times. Only the user
                    himself will have knowledge of the searches made.
                  </p>
                </div>
              </div>
            </li>

            <li>
              <input class="faq-input" type="checkbox" id="faq-10" />
              <div class="plus-minus"></div>

              <div class="question-answer">
                <label for="faq-10">
                  <h3>There's no data collection?</h3>
                </label>

                <div>
                  <p>
                    With Solitude Search, not only is there no data collection, but there's also a
                    guarantee that all data will remain encrypted at all times. Only the user
                    himself will have knowledge of the searches made.
                  </p>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </section>
    </main>
  </body>
</html>
