<!DOCTYPE html>

<html lang="en" theme="light">
  <head>
    <title>Solitude</title>
    <meta name="author" content="Roger Rovira" />
    <meta name="description" content="Webpage for accessing articles in a private manner." />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../../styles/cross-page/index.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/www.[domain].com/index.css" />

    <script type="module" src="../javascript/app/before_DOM/theme_detection.js"></script>
  </head>

  <body>
    <script type="module" src="../layouts/reusable/nav.js"></script>
    <script type="module" src="../layouts/reusable/footer.js"></script>
    <script type="module" src="../layouts/reusable/gradients.js"></script>

    <main>
      <section id="section-hero">
        <div class="galaxy_bg"></div>

        <div class="hero_content">
          <div id="hero-content">
            <h1 class="page_title">
              Search designed
              <br />
              for user privacy.
            </h1>

            <p class="platform_introduction">
              Access articles while protecting your own data.
              <br />
              Getting information has never been so confidential.
            </p>

            <form action="https://search.incognitodb.com/">
              <button class="model_two start_searching" target="_self" href="/search">
                <figure>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M20 20L15.8033 15.8033M18 10.5C18 6.35786 14.6421 3 10.5 3C6.35786 3 3 6.35786 3 10.5C3 14.6421 6.35786 18 10.5 18C14.6421 18 18 14.6421 18 10.5Z"
                    />
                  </svg>
                </figure>

                Start searching
              </button>
            </form>
          </div>
        </div>

        <div class="hero_decoration">
          <div class="hero_img">
            <img alt="The Earth." src="../assets/imgs/earth_half_top.png" />
          </div>

          <figure class="hero_gradient">
            <svg class="circular_gradient" viewBox="0 0 1024 1024">
              <circle
                cx="512"
                cy="512"
                r="512"
                fill-opacity="0.7"
                fill="url(#radial-white-gradient)"
              />
            </svg>
          </figure>
        </div>
      </section>

      <section id="section-brief-about">
        <div class="double_column">
          <div class="left_big_column">
            <hgroup>
              <div class="sec_title">
                <h5>BRIEF ABOUT</h5>
                <h2>
                  Privacy with
                  <br />
                  Solitude Search
                </h2>
              </div>
            </hgroup>

            <p>
              Solitude Search is a database search engine designed to ensure user privacy. With it,
              you can access hundreds of articles with an unparalleled level of confidentiality. The
              requests you make will be encrypted in such a way that neither the server itself nor a
              third-party company will be able to learn about your browsing behavior.
            </p>

            <form action="https://search.incognitodb.com/">
              <button class="btn_model_one" target="_blank">
                Browse Articles
                <svg viewBox="0 0 18 15" xmlns="http://www.w3.org/2000/svg" class="rotated_arrow">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M9.94417 0.373474L17.2534 7.49997L9.94417 14.6265L8.7225 13.3735L13.8492 8.37497H0L0 6.62497L13.8492 6.62497L8.7225 1.62647L9.94417 0.373474Z"
                    fill="currentColor"
                  ></path>
                </svg>
              </button>
            </form>
          </div>

          <div class="right_little_column img_box">
            <img src="../../assets/Security.svg" />
          </div>
        </div>
      </section>

      <section id="section-benefits">
        <hgroup>
          <div class="sec_title">
            <h5>BENEFITS</h5>
            <h2>
              End to end
              <br />
              secure searches
            </h2>
          </div>
        </hgroup>

        <ul class="benefits_grid">
          <li>
            <div></div>

            <div>
              <span>Data privacy</span>

              <p>Your data, your secret. No one will know anything about your queries.</p>
            </div>
          </li>

          <li>
            <div>
              <div class="search_bar">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M20 20L15.8033 15.8033M18 10.5C18 6.35786 14.6421 3 10.5 3C6.35786 3 3 6.35786 3 10.5C3 14.6421 6.35786 18 10.5 18C14.6421 18 18 14.6421 18 10.5Z"
                    ></path>
                  </svg>
                </div>

                <div>
                  <p>Search something...</p>
                </div>
              </div>
            </div>

            <div>
              <span>Confidential search</span>

              <p>Your search queries are kept confidential, even from the server.</p>
            </div>
          </li>

          <li>
            <div></div>

            <div>
              <span>Encryption</span>

              <p>The query remains encrypted throughout the entire process.</p>
            </div>
          </li>

          <li>
            <div></div>

            <div>
              <span>Open source</span>

              <p>The platform is completely transparent from top to bottom.</p>
            </div>
          </li>

          <li>
            <div>
              <div class="protection">
                <div class="protection_layers"></div>
                <div class="protection_loading"></div>
              </div>
            </div>

            <div>
              <span>Data breach protection</span>

              <p>The platform is resistant to data breaches as there's no data to steal.</p>
            </div>
          </li>
        </ul>
      </section>

      <section id="section-search-types">
        <hgroup>
          <div class="sec_title">
            <h5>SEARCH TYPES</h5>

            <h2>
              Select your
              <br />
              type of search
            </h2>
          </div>
        </hgroup>

        <div class="double_column">
          <div class="left_big_column">
            <h3>Search With Title</h3>

            <p>
              Cloudflare IPFS Gateway provides a bridge between the current Web 2.0 model and the
              new decentralized and trustless model of Web3. With Cloudflare IPFS Gateway, customers
              can start leveraging IPFS and make content on IPFS easily accessible via HTTP.
              Customers can use Cloudflare DNS to map IPFS content to a domain name.
            </p>

            <form>
              <button class="btn_model_one">Search by title</button>
            </form>
          </div>

          <div class="right_little_column img_box">
            <img
              alt="Must be changed."
              src="https://uploads-ssl.webflow.com/5e97941735e37a5ef19d10aa/64b7fdb43fe20d63a2fef744_Reduce%20data%20verification%20costs%20mockup.webp"
            />
          </div>
        </div>

        <div class="double_column">
          <div class="left_little_column">
            <img
              alt="Must be changed."
              src="https://uploads-ssl.webflow.com/5e97941735e37a5ef19d10aa/64b7fd9f8782ffeb646158a2_Make%20your%20data%20fraud-proof%20mockup.webp"
            />
          </div>

          <div class="right_big_column">
            <h3>Search With Topics</h3>

            <p>
              Cloudflare IPFS Gateway provides a bridge between the current Web 2.0 model and the
              new decentralized and trustless model of Web3. With Cloudflare IPFS Gateway, customers
              can start leveraging IPFS and make content on IPFS easily accessible via HTTP.
              Customers can use Cloudflare DNS to map IPFS content to a domain name.
            </p>

            <form>
              <button class="btn_model_one">Search by topic</button>
            </form>
          </div>
        </div>
      </section>

      <section id="section-paper">
        <div>
          <hgroup>
            <div class="sec_title">
              <h5>PAPER</h5>

              <h2>Read about this project</h2>
            </div>
          </hgroup>

          <ul>
            <div class="box_model_three">
              <form>
                <div class="top_part">
                  <div>
                    <img src="https://family.co/media/avara.png" class="three" />
                  </div>

                  <p>Published 16 November, 2023</p>
                </div>

                <div class="bottom_part">
                  <p>Family Acquired by Avara (Aave Companies)</p>

                  <div>
                    <p>
                      I'm thrilled to announce that Los Feliz Engineering (LFE)—the company behind
                      Family and previously, Honk—has been acquired by Avara, formerly known as Aave
                      Companies.
                    </p>
                  </div>
                </div>
              </form>
            </div>

            <div class="box_model_three">
              <form>
                <div class="top_part">
                  <div>
                    <img src="https://family.co/media/previews.png" />
                  </div>

                  <p>Published 16 August, 2023</p>
                </div>

                <div class="bottom_part">
                  <p>Unveiling Previews in Family, Powered by Blowfish</p>

                  <div>
                    <p>
                      We're excited to share a major feature addition to Family, Previews. Enabled
                      by our collaboration with Blowfish, Previews offers an unprecedented level of
                      user control and transparency when navigating the world of Ethereum.
                    </p>
                  </div>
                </div>
              </form>
            </div>
          </ul>
        </div>
      </section>

      <section class="sec details" id="section-details">
        <hgroup>
          <div class="sec_title">
            <h5>DETAILS</h5>
            <h2>Details that matter</h2>
          </div>
        </hgroup>
      </section>

      <section class="sec faqs" id="section-faqs">
        <hgroup>
          <div class="sec_title">
            <h5>FAQs</h5>
            <h2>Frequently Asked Questions</h2>
          </div>
        </hgroup>
      </section>

      <section class="sec acknowledgement">
        <h2>Acknowledgments.</h2>

        <label>
          Expressing gratitude allows me to remember the evolution of my work. <br />When I review
          everything I have done, I can see the time I have invested, the enthusiasm I have shown,
          and the ideas that came to my mind. <br />Giving thanks is a source of pride for me.
        </label>

        <p>B</p>

        <p>C</p>

        <div></div>
      </section>

      <section id="section-solitude-definition">
        <div>
          <div class="double_column">
            <div class="left_big_column">
              <hgroup>
                <div class="sec_title">
                  <h5>SOLITUDE DEFINITION</h5>
                  <h2>
                    Privacy with
                    <br />
                    Solitude Search
                  </h2>
                </div>
              </hgroup>

              <p>
                Solitude Search is a database search engine designed to ensure user privacy. With
                it, you can access hundreds of articles with an unparalleled level of
                confidentiality. The requests you make will be encrypted in such a way that neither
                the server itself nor a third-party company will be able to learn about your
                browsing behavior.
              </p>
            </div>

            <div class="right_little_column img_box"></div>
          </div>
        </div>
      </section>

      <div class="box_model_two gray">
        <h3>
          Power must move back
          <br />
          from the corporation to the individual.
        </h3>

        <p>
          We are expected to be the owners of our personal data, however, in order to minimally
          participate in modern life, we are forced to renunce this fundamental right.
        </p>

        <div class="btns_container">
          <form action="https://search.incognitodb.com/">
            <button class="btn_model_three black">Empower Users</button>
          </form>

          <a href="https://github.com/Gasofa06/incognito-db/">Read the Docs →</a>
        </div>

        <svg class="circular_gradient" viewBox="0 0 1024 1024">
          <circle cx="512" cy="512" r="512"></circle>
        </svg>
      </div>
    </main>

    <script type="module" src="../app/www.[domain].com.js"></script>
  </body>
</html>
