<!DOCTYPE html>

<html lang="en" theme="light">
  <head>
    <title>Solitude</title>
    <meta name="author" content="Roger Rovira" />
    <meta name="description" content="Webpage for accessing articles in a private manner." />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="/styles/www.[domain].com/index.css" />

    <script defer src="/javascript/utils/detect-theme.js"></script>
  </head>

  <body>
    <script
      type="module"
      id="reusable-components"
      name="Home"
      src="/javascript/reusable/index.js"
    ></script>

    <main>
      <section id="section-hero">
        <div class="hero-content">
          <h1>
            Over the last decade, keeping secrets has become more difficult due to increased data
            collection.
          </h1>

          <p>
            Despite the implementation of cryptography and various legislations, the challenge of
            privacy persists for Internet users. With every message, search, and interaction,
            companies learn more about us, making our privacy the sacrifice we have to make to stay
            connected.
          </p>
        </div>

        <div class="hero-decoration">
          <ol>
            <li style="grid-column: span 6">
              <form action="http://192.168.1.201:5555/">
                <button class="model-green">
                  <figure>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M20 20L15.8033 15.8033M18 10.5C18 6.35786 14.6421 3 10.5 3C6.35786 3 3 6.35786 3 10.5C3 14.6421 6.35786 18 10.5 18C14.6421 18 18 14.6421 18 10.5Z"
                      ></path>
                    </svg>
                  </figure>

                  Start searching
                </button>
              </form>
            </li>

            <li style="grid-column: span 6">
              <span>Designer &amp; Developer</span>
              <p>Roger Rovira</p>
            </li>
          </ol>

          <form>
            <img src="/assets/imgs/iMac-Platform.png" loading="lazy" />
          </form>
        </div>
      </section>

      <section id="section-brief-about">
        <div class="double-column right">
          <div>
            <hgroup class="sec-title">
              <h4>BRIEF ABOUT</h4>
              <h2>
                Privacy with
                <br />
                Solitude Search.
              </h2>
            </hgroup>

            <p>
              Solitude Search is a database search engine designed to ensure user privacy. With it,
              you can access hundreds of articles with an unparalleled level of confidentiality. The
              requests you make will be encrypted in such a way that neither the server itself nor a
              third-party company will be able to learn about your browsing behavior.
            </p>

            <ul class="done-list">
              <li>
                <svg viewBox="0 0 18 14" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.76191L6.33333 12L17 1"></path>
                </svg>
                <p>The power of security in your hands</p>
              </li>

              <li>
                <svg viewBox="0 0 18 14" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.76191L6.33333 12L17 1"></path>
                </svg>
                <p>Confidential searches</p>
              </li>

              <li>
                <svg viewBox="0 0 18 14" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.76191L6.33333 12L17 1"></path>
                </svg>
                <p>Intuitive and well-crafted design</p>
              </li>
            </ul>

            <form action="https://search.incognitodb.com/">
              <button class="btn_model_one" target="_blank">
                Browse Articles
                <svg viewBox="0 0 18 15" xmlns="http://www.w3.org/2000/svg" class="rotated_arrow">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M9.94417 0.373474L17.2534 7.49997L9.94417 14.6265L8.7225 13.3735L13.8492 8.37497H0L0 6.62497L13.8492 6.62497L8.7225 1.62647L9.94417 0.373474Z"
                    fill="currentColor"
                  ></path>
                </svg>
              </button>
            </form>
          </div>

          <div>
            <div class="image-container">
              <img src="/assets/imgs/key-lock.png" />
            </div>
          </div>
        </div>
      </section>

      <section id="section-benefits">
        <div class="double-column right">
          <div>
            <hgroup class="sec-title">
              <h4>BENEFITS</h4>
              <h2>
                Explore and expirience
                <br />
                the benefits of data privacy.
              </h2>
            </hgroup>

            <p>
              Solitude Search is designed to provide a range of private features, using the
              open-source code provided by the <a>Blyss company</a>. The code is employed to
              implement the Private Information Retrieval (PIR) protocol, which is utilized by this
              platform.
            </p>
          </div>

          <div>
            <ul class="benefits-grid">
              <li id="confidential-search">
                <div>
                  <div class="confidentiality">
                    <div>
                      <form>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M20 20L15.8033 15.8033M18 10.5C18 6.35786 14.6421 3 10.5 3C6.35786 3 3 6.35786 3 10.5C3 14.6421 6.35786 18 10.5 18C14.6421 18 18 14.6421 18 10.5Z"
                          ></path>
                        </svg>
                      </form>

                      <label>
                        <span>Search</span>
                        <p>Find what you want without anyone following your footsteps.</p>
                      </label>
                    </div>
                  </div>
                </div>

                <div>
                  <span>Confidential search</span>
                  <p>Your search queries are kept confidential, even from the server.</p>
                </div>
              </li>

              <li id="data-breach-protection">
                <div>
                  <div class="protection">
                    <div class="layers"></div>
                    <div class="loading"></div>
                  </div>
                </div>

                <div>
                  <span>Data breach protection</span>
                  <p>The platform is resistant to data breaches as there's no data to steal.</p>
                </div>
              </li>

              <li id="encryption">
                <div>
                  <div class="encrypted-message">
                    <div>
                      <div>
                        <svg viewBox="0 0 330 330">
                          <g>
                            <path
                              d="M65,330h200c8.284,0,15-6.716,15-15V145c0-8.284-6.716-15-15-15h-15V85c0-46.869-38.131-85-85-85   S80.001,38.131,80.001,85v45H65c-8.284,0-15,6.716-15,15v170C50,323.284,56.716,330,65,330z M110.001,85   c0-30.327,24.673-55,54.999-55c30.327,0,55,24.673,55,55v45H110.001V85z"
                            ></path>
                          </g>
                        </svg>
                      </div>

                      <div>
                        <span>0@45pf#c</span>
                        <p>The message is securely encrypted.</p>
                      </div>
                    </div>

                    <div>
                      <svg viewBox="0 0 24 24">
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21ZM16.7682 9.64018C17.1218 9.21591 17.0645 8.58534 16.6402 8.23178C16.2159 7.87821 15.5853 7.93554 15.2318 8.35982L11.6338 12.6774C11.2871 13.0934 11.0922 13.3238 10.9366 13.4653L10.9306 13.4707L10.9242 13.4659C10.7564 13.339 10.5415 13.1272 10.1585 12.7443L8.70711 11.2929C8.31658 10.9024 7.68342 10.9024 7.29289 11.2929C6.90237 11.6834 6.90237 12.3166 7.29289 12.7071L8.74428 14.1585L8.78511 14.1993L8.78512 14.1993C9.11161 14.526 9.4257 14.8402 9.71794 15.0611C10.0453 15.3087 10.474 15.5415 11.0234 15.5165C11.5728 15.4916 11.9787 15.221 12.2823 14.9448C12.5534 14.6983 12.8377 14.3569 13.1333 14.0021L13.1333 14.0021L13.1703 13.9577L16.7682 9.64018Z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>

                <div>
                  <span>Encryption</span>
                  <p>The query remains encrypted throughout the entire process.</p>
                </div>
              </li>

              <li id="open-source">
                <div>
                  <form class="expansion" action="https://github.com/Gasofa06/Solitude">
                    <div></div>
                    <div></div>
                    <img alt="GitHub" src="/assets/svgs/github-mark-white.svg" />
                  </form>
                </div>

                <div>
                  <span>Open source</span>
                  <p>The platform is completely transparent from top to bottom.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section id="section-privacy-problems">
        <hgroup class="sec-title">
          <h4>PRIVACY PROBLEMS</h4>
          <h2>
            Nowadays problems
            <br />
            with privacy.
          </h2>
        </hgroup>

        <ol class="problems-list">
          <li>
            <span>01</span>
            <h3>Opened Gates</h3>
            <p>
              Just as the Internet has opened up the world for each and every one of us, it has also
              opened up each and every one of us to the world. And increasingly, the price we've to
              pay for staying connected is our own privacy.
            </p>
          </li>

          <li>
            <span>02</span>
            <h3>Tracking</h3>
            <p>
              With every click of the mouse and every touch of the screen, we are like Hansel and
              Gretel leaving breadcrumbs of our personal information everywhere we travel through
              the Internet.
            </p>
          </li>

          <li>
            <span>03</span>
            <h3>Surveillance Economy</h3>
            <p>
              It's said that data is the gold of the digital era, a valuable resource luring big
              companies. These giants collect and monetize people's personal information to rake in
              the benefits and profits.
            </p>
          </li>

          <li>
            <span>04</span>
            <h3>No Choice</h3>
            <p>
              Although we expect to be the owners of our personal rights, in order to minimally
              participate in modern life, we must surrender this fundamental right.
            </p>
          </li>

          <li>
            <span>05</span>
            <h3>Traditional Encryption</h3>
            <p>
              While encryption can effectively prevent unauthorized access, it also entails the
              destruction of the underlying semantic structure of the data, which result in the need
              of online services to decrypt the message before processing it.
            </p>
          </li>

          <li>
            <span>06</span>
            <h3>Data Breaches</h3>
            <p>
              The necessity of decrypting data before processing leads to numerous data breaches. In
              fact, a total of 3,205 data compromises occurred in 2023.
            </p>
          </li>
        </ol>
      </section>

      <section id="section-details">
        <div class="double-column right">
          <div>
            <hgroup class="sec-title">
              <h4>DETAILS</h4>
              <h2>Details that matter.</h2>
            </hgroup>

            <p>
              Solitude Search is designed to provide a range of private features, using the
              open-source code provided by the Blyss company. The code is employed to implement the
              Private Information Retrieval (PIR) protocol, which is utilized by this platform.
            </p>
          </div>

          <div>
            <ul class="details-list">
              <li>
                <div></div>

                <div>
                  <span>Monitor In Real-Time</span>
                  <p>
                    Track the status of all your transactions in real-time, with live updates,
                    detailed information, notifications, and seamless animations between states.
                    You’ll be the first to know when your transactions go through.
                  </p>
                </div>
              </li>

              <li>
                <div></div>

                <div>
                  <span>Monitor In Real-Time</span>
                  <p>
                    Track the status of all your transactions in real-time, with live updates,
                    detailed information, notifications, and seamless animations between states.
                    You’ll be the first to know when your transactions go through.
                  </p>
                </div>
              </li>

              <li>
                <div></div>

                <div>
                  <span>Monitor In Real-Time</span>
                  <p>
                    Track the status of all your transactions in real-time, with live updates,
                    detailed information, notifications, and seamless animations between states.
                    You’ll be the first to know when your transactions go through.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section id="section-faqs">
        <div class="double-column right">
          <div>
            <hgroup class="sec-title">
              <h4>FAQs</h4>
              <h2>
                Frequently Asked
                <br />
                Questions.
              </h2>
            </hgroup>
          </div>

          <div class="faqs-sample">
            <ol class="accordion">
              <li>
                <input class="faq-input" type="checkbox" id="faq-1" />
                <div class="plus-minus"></div>

                <div class="question-answer">
                  <label for="faq-1">
                    <h3>What is Homomorphic Encryption?</h3>
                  </label>

                  <div>
                    <p>
                      Homomorphic encryption is a cryptographic technique that allows computations
                      to be performed on encrypted data. This ensures that raw data stays fully
                      encrypted during processing, providing privacy while allowing third parties to
                      operate with the message without knowing its content.
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <input class="faq-input" type="checkbox" id="faq-2" />
                <div class="plus-minus"></div>

                <div class="question-answer">
                  <label for="faq-2">
                    <h3>Which is the meaning of PIR?</h3>
                  </label>

                  <div>
                    <p>
                      PIR stands for Private Information Retrival and it's a protocol that allows a
                      user to retrieve an item from a server with a database without disclosing
                      which specific item is being retrieved.
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <input class="faq-input" type="checkbox" id="faq-3" />
                <div class="plus-minus"></div>

                <div class="question-answer">
                  <label for="faq-3">
                    <h3>How Solitude Search works?</h3>
                  </label>

                  <div>
                    <p>
                      Solitude Search incorporates Blyss's code to facilitate private queries. It
                      leverages Homomorphic Encryption to establish a PIR protocol, ensuring
                      confidentiality in search operations.
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <input class="faq-input" type="checkbox" id="faq-4" />
                <div class="plus-minus"></div>

                <div class="question-answer">
                  <label for="faq-4">
                    <h3>There's no data collection?</h3>
                  </label>

                  <div>
                    <p>
                      With Solitude Search, not only is there no data collection, but there's also a
                      guarantee that all data will remain encrypted at all times. Only the user
                      himself will have knowledge of the searches made.
                    </p>
                  </div>
                </div>
              </li>
            </ol>

            <form action="http://192.168.1.201/resources/faqs">
              <button class="btn_model_five">
                See more FAQs
                <svg viewBox="0 0 17 15" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 0.5L16 7.5L9 14.5"></path>
                  <line x1="16" y1="7.5" y2="7.5"></line>
                </svg>
              </button>
            </form>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
