@layer topic {
  li.topic {
    padding: 1px 14px;

    border-radius: 12px;
    background-color: var(--soft-black);
  }

  li.topic p {
    margin: 0;

    color: var(--white);
    font-size: 0.82rem;
    letter-spacing: -0.1px;
  }
}

@layer sections {
  @layer article-section {
    #section-article {
      --gutter-x: 6%;
    }

    #section-article > * {
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      gap: 8px;
    }

    @layer header {
      #section-article header {
        padding-top: 194px;
      }

      #section-article header > * {
        grid-column: 3 / 12;
      }

      @layer topics-list {
        header .topics-list {
          display: flex;
          align-items: center;
          flex-direction: row;

          gap: 6px;
          padding: 0;
          margin-top: 0;
          margin-bottom: 16px;
        }
      }

      @layer article-information {
        header .article-information {
          width: 100%;
          padding: 54px 0 34px;

          border-radius: 4px;
          background: var(--gray);
        }

        header .article-information > * {
          padding-left: 34px !important;
          padding-right: 34px !important;
        }

        @layer title {
          header .article-information h2 {
            color: var(--soft-black);
          }
        }

        @layer summary {
          header .article-information summary {
            max-width: 580px;
            margin: 94px 0 0;
          }

          header .article-information summary span {
            margin: 0 0 6px;
            font-weight: 600;
          }

          header .article-information summary p {
            margin: 0;
            font-size: 0.88rem;
          }
        }

        @layer date-authors {
          header .article-information div {
            display: flex;
            flex-direction: row;

            position: relative;

            margin-top: 94px;
          }

          header .article-information div p {
            margin: 0;
            max-width: 186px;

            font-size: 0.88rem;
            color: var(--dark-gray);
          }

          header .article-information div p:first-child {
            padding: 34px 34px 0 0;
          }

          header .article-information div p:last-child {
            padding: 34px 0 0 34px;
          }

          header .article-information div .date::before,
          header .article-information div .authors::before {
            position: absolute;
            top: 0;

            color: var(--soft-black);
          }

          header .article-information div .date::before {
            content: 'Date';
          }

          header .article-information div .authors::before {
            content: 'Authors';
          }
        }
      }
    }

    @layer body {
      #section-article > div {
        padding: 102px 0 24px;
      }

      @layer article {
        article {
          display: flex;
          align-items: center;
          flex-direction: column;

          width: 100%;
        }

        article section {
          width: 100%;
          max-width: inherit;

          padding-top: 60px;
        }

        article section:first-child {
          padding-top: 0 !important;
        }

        @media (max-width: 768px) {
          article section {
            padding-top: 32px;
          }
        }

        article section h4 {
          margin: 0 0 16px 0;
        }

        article section p {
          color: var(--dark-gray-blue);

          margin: 0 0 32px 0;
        }

        @media (max-width: 768px) {
          article section h4,
          article section p {
            margin-left: var(--gutter-x);
            margin-right: var(--gutter-x);
          }
        }

        /* --------------- BODY: IN TEXT STYLE --------------- */

        article section b {
          font-weight: bold;
          font-style: italic;

          letter-spacing: 0.035em;

          font-family: 'DM Serif Display', Georgia, serif;
        }

        article section a.reference {
          font-weight: bold;
          font-style: inherit;

          font-size: var(--text-ms);
          color: var(--green);

          font-family: Georgia, 'DM Serif Display', serif;
        }

        /* ------------- BODY: SECTION REFERENCES ------------- */

        article section.references h4 {
          padding-top: 22px;
          border-top: 1px solid var(--link-water);

          padding-bottom: 0;
          border-bottom: none;
        }

        article section.references ol.references_container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          width: 100%;

          padding: 0;
          margin: 0 auto;
        }

        @media (max-width: 480px) {
          article section.references ol.references_container {
            flex-direction: column;
            flex-wrap: unset !important;
          }
        }

        @media (max-width: 768px) {
          article section.references ol.references_container {
            width: calc(100% - var(--gutter-x) * 2);
          }
        }

        article section.references ol.references_container li {
          display: inline-flex;

          width: calc(50% - 22px);

          margin: 14px 0;
          padding: 0;

          text-align: justify;
          break-inside: avoid;
          word-break: break-word;
        }

        @media (max-width: 480px) {
          article section.references ol.references_container li {
            width: 100% !important;
          }
        }

        article section.references ol.references_container li p {
          font-size: var(--text-s);
          color: var(--dark-gray-blue);

          margin: 0;
        }

        article article section.references ol.references_container li p.reference_index {
          display: inline-flex;

          width: fit-content;
          padding-right: 16px;
        }

        article section.references ol.references_container li p a {
          font-size: var(--text-ms);
          color: var(--green);
        }
      }

      @layer contents-menu {
        .contents-menu {
          width: 100%;
          height: 100%;

          grid-column: 10 / 12;
        }

        @media (max-width: 768px) {
          .contents-menu {
            display: none;
          }
        }

        .contents-menu > div {
          position: sticky;
          position: -webkit-sticky;
          top: 146px;
        }

        .contents-menu p.title {
          margin: 0 0 12px 0;

          font-weight: bold;
          font-size: var(--text-xs);
          color: var(--gray-blue);
        }

        .contents-menu ul.contents {
          padding: 0;
          margin: 0;
        }

        .contents-menu ul.contents li {
          position: relative;
          padding-left: 12px;
        }

        .contents-menu ul.contents li a {
          font-size: var(--text-xs);

          text-overflow: ellipsis;

          padding: 3px 0;
          margin-inline-start: 0;

          transition: all 0.3s ease-in-out;
        }

        [theme='light'] .contents-menu ul.contents li a {
          color: var(--link-water);
        }

        [theme='dark'] .contents-menu ul.contents li a {
          color: var(--dark-link-water);
        }

        .contents-menu ul.contents li a::before {
          content: '';

          position: absolute;
          left: 0;
          top: 0;

          height: 100%;
          width: 1px;

          background: var(--link-water);
        }

        .contents-menu ul.contents li a.active {
          color: var(--dark-gray-blue);
        }

        .contents-menu ul.contents li a.active::before {
          background: var(--gray-blue);
        }
      }
    }

    @layer footer {
      /* ==================================================== */
      /*                        FOOTER                        */
      /* ==================================================== */

      footer {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        --article-footer-content-height: 34px;

        padding: 22px 0;
        margin: 12px auto 0 auto;

        border-top: 1px solid var(--link-water);
        border-bottom: 1px solid var(--link-water);
      }

      @media (max-width: 768px) {
        footer {
          padding-left: var(--gutter-x) !important;
          padding-right: var(--gutter-x) !important;
        }
      }

      /* --------------------- TOPICS --------------------- */

      footer ul.topics {
        display: inline-flex;
        flex-wrap: wrap;

        height: max-content;

        margin: 0;
        padding: 0;
      }

      footer ul.topics li.topic {
        cursor: pointer;

        display: flex;
        align-items: center;

        height: var(--article-footer-content-height);

        padding: 0 14px;
        margin: 5px 16px 5px 0;

        border-radius: 4px;
        border: 1px solid var(--green);

        transition: all 0.3s ease-in-out;
      }

      footer ul.topics li.topic:hover {
        border-color: transparent !important;
        background-color: var(--green) !important;
      }

      footer ul.topics li.topic p {
        margin: 0;

        font-size: var(--text-ms);
        color: var(--green);
      }

      [theme='ligth'] footer ul.topics li.topic:hover p {
        color: var(--white) !important;
      }

      [theme='dark'] footer ul.topics li.topic:hover p {
        stroke: var(--black);
      }

      /* ------------------- BACK TO TOP ------------------- */

      footer a.back_to_top {
        display: flex;
        align-items: center;
        justify-content: center;

        height: var(--article-footer-content-height);
        width: var(--article-footer-content-height);

        margin: 5px 0 5px 16px;

        border-radius: 4px;
        border: 1px solid transparent;
        background: var(--green);

        transition: all 0.3s ease-in-out;
      }

      footer a.back_to_top:hover {
        background-color: transparent !important;
        border-color: var(--green) !important;
      }

      footer a.back_to_top svg {
        width: 32px;
        height: 32px;

        transform: rotate(270deg);
      }

      footer a.back_to_top svg g {
        fill: none;

        stroke: var(--white);
        stroke-width: 1.5;
        stroke-linejoin: round;
      }

      [theme='dark'] footer a.back_to_top svg g {
        stroke: var(--black);
      }

      footer a.back_to_top:hover svg g {
        stroke: var(--green);
      }
    }

    /* =================================================== */
    /* =================================================== */
    /* =================================================== */
    /*                                                     */
    /*                                                     */
    /*               IN- VISUAL STUFF               */
    /*                                                     */
    /*                                                     */
    /* =================================================== */
    /* =================================================== */
    /* =================================================== */

    p.table_title,
    p.chart_title {
      text-align: center;

      width: 80%;
      margin: 0 auto 44px auto !important;

      font-weight: bold;
      letter-spacing: 0.01em;
      font-size: var(--text-l);

      word-break: break-word;
      white-space: break-spaces;
    }

    /* =================================================== */
    /*                        QUOTE                        */
    /* =================================================== */

    blockquote {
      position: relative;

      width: 56%;

      padding: 46px 38px 26px 75px;
    }

    blockquote::before {
      content: '\275D';

      position: absolute;
      left: 24px;
      top: 6px;

      font-size: 2.5em;
      font-style: italic;
      color: var(--link-water);
    }

    @media (min-width: 768px) {
      blockquote {
        border-left: 6px solid var(--link-water) !important;
      }
    }

    @media (max-width: 768px) {
      blockquote {
        padding-top: 58px !important;

        padding-left: var(--gutter-x) !important;
        padding-right: var(--gutter-x) !important;

        width: calc(100% - var(--gutter-x) * 2) !important;
      }

      blockquote::before {
        top: 10px;
      }
    }

    /* ------------------- QUOTE TEXT ------------------- */

    blockquote p.quote {
      margin: 0;

      text-align: left;
    }

    /* --------------------- AUTHOR --------------------- */

    blockquote p.author {
      margin: 24px 0 0 0 !important;

      word-spacing: 4px;
      text-align: right;
      letter-spacing: 0.075em;
    }

    [theme='light'] blockquote p.author {
      color: var(--link-water) !important;
    }

    [theme='dark'] blockquote p.author {
      color: var(--dark-link-water) !important;
    }

    /* =================================================== */
    /*                        TABLE                        */
    /* =================================================== */

    pre.table {
      display: flex;
      align-items: center;
      flex-direction: column;

      width: 78%;

      padding: 34px 26px;
    }

    @media (max-width: 768px) {
      pre.table {
        padding-left: var(--gutter-x) !important;
        padding-right: var(--gutter-x) !important;

        width: calc(100% - var(--gutter-x) * 2) !important;
      }
    }

    table {
      display: block;

      max-width: 94%;

      padding: 4px 3px 18px 3px;

      overflow: auto;

      text-align: center;
      border-collapse: collapse;
    }

    @media (max-width: 768px) {
      table {
        padding-top: 0 !important;
      }
    }

    table thead tr th:first-child {
      border: none;
    }

    th,
    td {
      min-width: 58px;

      padding: 3px 16px;
      border: 1px solid var(--dark-link-water);

      font-size: var(--text-m);
      color: var(--gray-blue);

      line-height: 1.5;
      font-style: normal;
      letter-spacing: 0.03em;

      font-family: sans-serif, segoe ui, nunito-sans, Helvetica;
    }

    th {
      font-weight: bold;
      color: var(--dark-gray-blue);
    }

    tbody tr:nth-child(odd) {
      background-color: transparent;
    }

    tbody tr:nth-child(even) {
      background-color: var(--soft-link-water);
    }

    /* =================================================== */
    /*                      BAR CHART                      */
    /* =================================================== */

    pre.bar_chart_container {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      width: 78%;

      padding: 34px 26px;
    }

    @media (max-width: 768px) {
      pre.bar_chart_container {
        padding-left: 2% !important;
        padding-right: 2% !important;

        width: 96% !important; /* 100% - 2% -2% */
      }
    }

    pre.bar_chart_container .chart_container {
      position: relative;

      width: fit-content;
      max-width: 72%;

      --bar-height: 262px;

      /*
       * Con `--y-label-height`, realizaremos
       * cálculos para centrar el texto con 
       * respecto a las líneas del fondo de 
       * la gráfica.
       */
      --y-label-height: 10px;
    }

    @media (max-width: 768px) {
      pre.bar_chart_container .chart_container {
        --bar-height: 186px !important;
      }
    }

    pre.bar_chart_container .chart_container .y_labels {
      display: grid;
      justify-content: end;
      align-content: space-between;

      position: absolute;
      left: -38px;
      top: calc(var(--y-label-height) / -2);

      height: calc(var(--bar-height) + var(--y-label-height));
    }

    pre.bar_chart_container .chart_container .y_labels p {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      height: var(--y-label-height);
      margin: 0 !important;

      color: var(--dark-link-water) !important;
      font-size: var(--text-xs);
      font-style: italic;
    }

    pre.bar_chart_container .chart_container .bars_and_x_labels_container {
      display: flex;
      flex-direction: column;

      overflow: auto;
    }

    pre.bar_chart_container .chart_container .bars_and_x_labels_container ul {
      width: max-content;
      display: inline-flex;

      margin: 0;
      padding: 0;
    }

    pre.bar_chart_container .chart_container .bars_and_x_labels_container ul li {
      margin: 0 3px;
      width: 38px;
    }

    pre.bar_chart_container .chart_container .bars_and_x_labels_container ul.bars_container {
      background: repeating-linear-gradient(
        to top,
        transparent,
        transparent 19.7%,
        var(--link-water) 20%
      );

      border-bottom: 1px solid var(--link-water);
    }

    pre.bar_chart_container .chart_container .bars_and_x_labels_container ul.x_labels li p {
      color: var(--dark-link-water);
      font-size: var(--text-xs);

      word-wrap: break-word;
      white-space: normal;
      text-align: center;
    }

    pre.bar_chart_container .chart_container .bars_and_x_labels_container ul.bars_container li {
      display: flex;
      align-items: flex-end;

      height: var(--bar-height);
    }

    pre.bar_chart_container
      .chart_container
      .bars_and_x_labels_container
      ul.bars_container
      li
      span {
      width: inherit;

      /* 
       * La altura se inserta en forma de 
       * porcentaje en el `style="..."` de
       * este elemento.
       */

      border-radius: 4px 4px 0 0;
      background-color: var(--green);
    }

    /* ==================================================== */
    /*                     CIRCLE CHART                     */
    /* ==================================================== */

    pre.circle_chart_container {
      position: relative;

      width: 82%;

      padding: 34px 26px;
    }

    @media (max-width: 768px) {
      pre.circle_chart_container {
        padding-left: var(--gutter-x) !important;
        padding-right: var(--gutter-x) !important;

        width: calc(100% - var(--gutter-x) * 2) !important;
      }
    }

    pre.circle_chart_container .chart_and_information_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      width: 86%;

      margin: 0 auto;
      padding-top: 8px;
    }

    @media (max-width: 768px) {
      pre.circle_chart_container .chart_and_information_container {
        flex-direction: column !important;
      }
    }

    /* ---------------------- CHART ---------------------- */

    pre.circle_chart_container .chart_and_information_container figure.chart {
      --circle-chart-width-and-height: 192;

      position: relative;

      width: calc(var(--circle-chart-width-and-height) * 1px);
      height: calc(var(--circle-chart-width-and-height) * 1px);

      margin: 0;
    }

    @media (max-width: 768px) {
      pre.circle_chart_container .chart_and_information_container figure.chart {
        --circle-chart-width-and-height: 172 !important;
        margin: 0 auto !important;
      }
    }

    pre.circle_chart_container .chart_and_information_container figure.chart svg {
      position: absolute;

      width: 100%;
      height: 100%;

      --stroke-width: 18;
    }

    pre.circle_chart_container .chart_and_information_container figure.chart svg circle {
      --r: calc((var(--circle-chart-width-and-height) / 2) - var(--stroke-width) / 2);

      r: calc(var(--r) * 1px);
      cx: 50%;
      cy: 50%;

      fill: none;
      stroke-width: calc(var(--stroke-width) * 1px);
    }

    pre.circle_chart_container .chart_and_information_container figure.chart svg circle.fill {
      /*
       * --percentage: ... 
       *
       * La variable `--percentage` se define
       * en "style=..." de este mismo elemento, y
       * contiene el porcentaje que se debe rellenar.
       */

      --circumference: calc(2 * 3.14 * var(--r));

      stroke-linecap: round;
      stroke: var(--green);

      stroke-dasharray: var(--circumference);
      stroke-dashoffset: calc(
        (var(--percentage) / 100) * var(--circumference) + var(--circumference)
      );

      transform-origin: 50% 50%;
    }

    pre.circle_chart_container .chart_and_information_container figure.chart svg circle.background {
      stroke: var(--soft-link-water);
    }

    /* ------------- CHART: MID INFORMATION ------------- */

    pre.circle_chart_container .chart_and_information_container figure.chart .middle_information {
      position: absolute;

      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    pre.circle_chart_container .chart_and_information_container figure.chart .middle_information p {
      margin: 0;

      font-weight: 700;
      font-size: 1.9em;
      color: var(--dark-link-water);
    }

    @media (max-width: 768px) {
      pre.circle_chart_container
        .chart_and_information_container
        figure.chart
        .middle_information
        p {
        font-size: 1.72em;
      }
    }

    /* --------------- CHART INFORMATION --------------- */

    pre.circle_chart_container .chart_and_information_container .chart_information {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 2.5% 0 2.5% 42px;
      margin: 5% 0;

      border-left: 1px solid var(--link-water);
    }

    @media (max-width: 768px) {
      pre.circle_chart_container .chart_and_information_container .chart_information {
        flex-wrap: wrap;
        flex-direction: row;

        padding: 0 !important;
        margin: 22px var(--gutter-x) 0 var(--gutter-x) !important;

        border-left: none !important;
        border-top: 1px solid var(--link-water);
      }

      pre.circle_chart_container .chart_and_information_container .chart_information li {
        padding: 0 16px;
        margin: 16px 12px 0 12px;
      }
    }

    @media (min-width: 1200px) {
      pre.circle_chart_container .chart_and_information_container .chart_information {
        margin-left: 24px !important;
        margin-right: 24px !important;
      }
    }

    pre.circle_chart_container .chart_and_information_container .chart_information li p {
      position: relative;

      margin: 0 0 6px 0;
      letter-spacing: 0.01em;

      font-size: var(--text-s);
    }

    pre.circle_chart_container .chart_and_information_container .chart_information li p.name {
      color: var(--gray-blue);

      &::before {
        content: '';

        display: inline-block;

        position: absolute;
        left: -15px;
        top: 6px;

        width: 7px;
        height: 7px;

        border-radius: 50%;
      }
    }

    pre.circle_chart_container .chart_and_information_container .chart_information li p.value {
      color: var(--link-water);
    }

    pre.circle_chart_container
      .chart_and_information_container
      .chart_information
      li.fill
      p.name::before {
      background: var(--green);
    }

    pre.circle_chart_container
      .chart_and_information_container
      .chart_information
      li.background
      p.name::before {
      background: var(--link-water);
    }
  }
}
