@import '/styles/search.[domain].com/search.css';
@import '/styles/search.[domain].com/article.css';

*.disactive {
  display: none !important;
}

@layer dropdown-menu {
  .dropdown-menu {
    position: absolute;
    display: grid;

    width: 100%;
    margin-top: 12px;

    border-radius: 4px;
    transition: all 0.3s ease-in-out;
  }

  [theme='dark'] .dropdown-menu {
    border: 1px solid var(--link-water) !important;
    background-color: var(--link-water) !important;
  }

  @media (max-width: 768px) {
    .dropdown-menu {
      margin-top: 8px;
    }
  }
}
