[submodule "docs/article"]
	path = docs/article
	url = https://github.com/Gasofa06/Treball-de-Recerca
[submodule "docs/treball-recerca"]
	path = docs/treball-recerca
	url = git@github.com:Gasofa06/treball-recerca.git
