@layer footer {
  #footer-page {
    height: 100vh;
    padding: 0 var(--borders-pad);

    background: var(--black);
  }

  #footer-page > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    margin: 0 auto;

    height: 100%;
    max-width: var(--max-width);
  }

  @layer title {
    .footer-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    @media (min-width: 768px) {
      .footer-title {
        padding-top: 224px;
        gap: 68px;
      }
    }

    @media (max-width: 768px) {
      .footer-title {
        padding-top: 114px;
        gap: 56px;
      }
    }

    .footer-title h1 {
      color: var(--white);
    }

    @media (min-width: 1080px) {
      .footer-title h1 {
        max-width: 924px;
      }
    }

    @media (max-width: 1080px) {
      .footer-title h1 {
        max-width: 674px;
      }
    }
  }

  @layer menu {
    .footer-menu {
      display: flex;
      align-items: flex-start;
      width: 100%;
    }

    @media (min-width: 768px) {
      .footer-menu {
        flex-direction: row;
        justify-content: space-between;

        padding-bottom: 64px;
      }
    }

    @media (max-width: 768px) {
      .footer-menu {
        flex-direction: column;

        gap: 36px;
        padding-bottom: 34px;
      }
    }

    .footer-menu span,
    .footer-menu a,
    .footer-menu p {
      font-size: 0.86rem;
      transition: all 0.2s;
    }

    .footer-menu p,
    .footer-menu span {
      margin: 0 0 16px;
    }

    [theme='light'] .footer-menu a,
    [theme='light'] .footer-menu p {
      opacity: 0.4;
      color: var(--gray);
    }

    [theme='dark'] .footer-menu a,
    [theme='dark'] .footer-menu p {
      color: var(--soft-black);
    }

    @layer left {
      .footer-menu div:first-child {
        display: flex;
      }

      @media (min-width: 768px) {
        .footer-menu div:first-child {
          flex-direction: row;
          align-items: flex-start;

          gap: 92px;
        }
      }

      @media (max-width: 768px) {
        .footer-menu div:first-child {
          flex-direction: column;
          gap: 36px;
        }
      }

      .footer-menu div:first-child svg {
        height: 16px;
      }

      .footer-menu div:first-child svg {
        fill: var(--white);
      }

      .footer-menu nav ul {
        display: flex;
        flex-direction: row;

        gap: 42px;
        margin: 0;
        padding: 0;
      }

      .footer-menu nav ul li {
        display: flex;
        flex-direction: column;
      }

      .footer-menu nav ul li span {
        font-weight: 500;
        color: var(--white);
      }

      .footer-menu nav ul li a:hover {
        color: var(--white) !important;
        opacity: 1 !important;
        text-decoration: none;
      }
    }

    @layer right {
      @media (max-width: 768px) {
        .footer-menu div:last-child p {
          opacity: 1 !important;
          color: var(--white) !important;
        }
      }

      .footer-menu div:last-child ul {
        display: flex;
        flex-direction: row;

        margin: 0;
        padding: 0;
        gap: 8px;
      }

      .footer-menu div:last-child ul a:not(:hover) {
        opacity: 0.2 !important;
      }

      .footer-menu div:last-child ul a:hover {
        opacity: 1 !important;
      }

      .footer-menu a.web svg {
        height: 18px;
      }

      .footer-menu a.web svg path {
        fill: var(--white);
      }

      .footer-menu a.github img {
        height: 16px;
      }

      .footer-menu a.x img {
        height: 14px;
      }

      [theme='light'] .footer-menu a.github img:last-child,
      [theme='light'] .footer-menu a.x img:last-child {
        display: none !important;
      }

      [theme='dark'] .footer-menu a.github img:first-child,
      [theme='dark'] .footer-menu a.x img:first-child {
        display: none !important;
      }
    }
  }
}
