@layer gradients {
  .gradient_container {
    width: 0;
    height: 0;
  }

  .gradient_container svg {
    width: 0;
    height: 0;
  }

  svg.circular_gradient {
    position: absolute;

    top: 57%;
    padding: 0 !important;

    width: 90rem;
    height: 90rem;

    mask-image: radial-gradient(closest-side, #fff, transparent);
    -webkit-mask-image: radial-gradient(closest-side, #fff, transparent);

    z-index: -10;
  }
}
