.homepage_container {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0 auto;
  padding: 198px 0;

  background: var(--c-secondary-010);
  border-bottom: 1px solid var(--c-secondary-050);
}

.homepage_container.disactive {
  display: none !important;
}

/* =================================================== */
/*                        TITLE                        */
/* =================================================== */

.homepage_container .web_title h1 {
  margin: 0 0 34px 0;
}

.homepage_container .web_title h1 span {
  letter-spacing: -0.08em;
}

/* ==================================================== */
/*                      SEARCH BAR                      */
/* ==================================================== */

.homepage_container .search_box form {
  position: relative;
  display: flex;
  align-items: center;

  margin-top: 52px;
  width: 712px;
  height: 58px;

  border-radius: 4px;
  background-color: var(--c-secondary-000);
  box-shadow: 0px 8px 22px 0px var(--shadow);

  --side_px_search_box: 12px;
}

[theme='dark'] .homepage_container .search_box form {
  border: 1px solid var(--c-secondary-075) !important;
  background-color: var(--c-secondary-050) !important;
}

@media only screen and (max-width: 768px) {
  .homepage_container .search_box form {
    width: 88vw !important;
    height: 54px !important;

    --side_px_search_box: 8px !important;
  }
}

/* -------------- DROPDOWN SEARCH TYPES -------------- */

.homepage_container .search_box form #search_types_dropdown {
  position: relative;
  height: 100%;
}

.homepage_container .search_box form #search_types_dropdown:has(:checked) {
  --rows_search_types: 1fr;
  --rotate_arrow_search_types: rotate(180deg);
}

.homepage_container .search_box form #search_types_dropdown .container_selected_content {
  position: relative;
  display: flex;
  align-items: center;

  height: 100%;

  padding-right: 12px;
  padding-left: calc(var(--side_px_search_box) + 8px);
}

@media only screen and (max-width: 768px) {
  .homepage_container .search_box form #search_types_dropdown .container_selected_content {
    padding-left: calc(var(--side_px_search_box) + 3px) !important;
    padding-right: calc(var(--side_px_search_box) + 3px) !important;
  }
}

.homepage_container .search_box form #search_types_dropdown .container_selected_content p.selected_content {
  margin-right: 16px;

  /* color: var(--c-secondary-350); */
  color: var(--c-primary-200);
  letter-spacing: 0.06em;
}

@media only screen and (max-width: 768px) {
  .homepage_container .search_box form #search_types_dropdown .container_selected_content p.selected_content {
    display: none !important;
  }
}

.homepage_container .search_box form #search_types_dropdown .container_selected_content svg.dropdown_arrow {
  width: 28px;
  transform: var(--rotate_arrow_search_types);

  transition: var(--default-transition);
}

@media only screen and (max-width: 768px) {
  .homepage_container .search_box form #search_types_dropdown .container_selected_content svg.dropdown_arrow {
    width: 34px !important;
  }
}

.homepage_container .search_box form #search_types_dropdown .container_selected_content svg.dropdown_arrow path {
  fill: var(--c-primary-200);
}

.homepage_container .search_box form #search_types_dropdown .container_selected_content input.dropdown_check {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.homepage_container .search_box form #search_types_dropdown .floating_box ul.dropdown_sub {
  overflow: hidden;

  padding: 0;
  margin: 0 0 0 calc(var(--side_px_search_box) + 8px);
}

@media only screen and (max-width: 768px) {
  .homepage_container .search_box form #search_types_dropdown .floating_box {
    width: 100px;
  }

  .homepage_container .search_box form #search_types_dropdown .floating_box ul.dropdown_sub {
    margin: 0 0 0 calc(var(--side_px_search_box) + 8.75px);
  }
}

.homepage_container .search_box form #search_types_dropdown .floating_box ul.dropdown_sub li.dropdown_li {
  margin: 20px 0;
  width: 85%;
}

.homepage_container .search_box form #search_types_dropdown .floating_box ul.dropdown_sub li.dropdown_li input {
  display: flex;
  justify-content: flex-start;

  padding: 0;
  width: 100%;

  border: none;
  background: none;
  cursor: pointer;

  color: var(--c-secondary-075);
  letter-spacing: 0.06em;

  &.selected {
    color: var(--c-primary-300);
  }
}

/* ----------------- SEPARATION LINE ----------------- */

.homepage_container .search_box form .separation_line {
  height: 67%;
  border-left: 1px solid var(--c-secondary-050);
}

/* -------------- SEARCH BAR INPUT TEXT -------------- */

.homepage_container .search_box form li.search_bar {
  position: relative;

  width: 100%;
  height: 100%;
  padding-right: var(--side_px_search_box);
}

.homepage_container .search_box form li.search_bar div.search_bar_container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100%;
}

.homepage_container .search_box form li.search_bar div.search_bar_container input.search_bar_input_text {
  padding: 0;

  width: 100%;
  flex: 1 1 0%;

  margin-left: 16px;
  padding-right: 12px;

  border: none;
  color: var(--c-secondary-400) !important;
  background-color: transparent;

  outline: none !important;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--c-secondary-075);
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--c-secondary-075);
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--c-secondary-075);
  }
}

.homepage_container .search_box form li.search_bar div.search_bar_container button.make_query {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--c-primary-200);
  height: 41px;
  width: 41px;

  box-sizing: border-box;
  border-radius: 6px;
  border: none;

  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .homepage_container .search_box form li.search_bar div.search_bar_container button.make_query {
    height: 36px;
    width: 36px;
  }
}

.homepage_container .search_box form li.search_bar div.search_bar_container button.make_query svg.magnifying_glass {
  display: none;

  width: 22px;
}

@media only screen and (max-width: 768px) {
  .homepage_container .search_box form li.search_bar div.search_bar_container button.make_query svg.magnifying_glass {
    width: 18px;
  }
}

.homepage_container .search_box form li.search_bar div.search_bar_container button.make_query:not(.loading) svg.magnifying_glass {
  display: block !important;
}

.homepage_container .search_box form li.search_bar div.search_bar_container button.make_query svg.magnifying_glass path {
  fill: var(--c-secondary-000);
}

[theme='dark'] .homepage_container .search_box form li.search_bar div.search_bar_container button.make_query svg.magnifying_glass path {
  fill: var(--c-secondary-600) !important;
}

.homepage_container .search_box form li.search_bar div.search_bar_container button.make_query svg#loading_spinner {
  position: absolute;

  width: 27px;
  height: 27px;

  animation: rotate 2s linear infinite;
}

@media only screen and (max-width: 768px) {
  .homepage_container .search_box form li.search_bar div.search_bar_container button.make_query svg#loading_spinner {
    width: 20px;
    height: 20px;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.homepage_container .search_box form li.search_bar div.search_bar_container button.make_query:not(.loading) svg#loading_spinner {
  display: none !important;
}

.homepage_container .search_box form li.search_bar div.search_bar_container button.make_query svg#loading_spinner circle.path {
  stroke-width: 6px;
  stroke-linecap: round;
  stroke: var(--c-secondary-000);

  animation: dash 1.5s ease-in-out infinite;
}

[theme='dark'] .homepage_container .search_box form li.search_bar div.search_bar_container button.make_query svg#loading_spinner circle.path {
  stroke: var(--c-secondary-600) !important;
}

@media only screen and (max-width: 768px) {
  .homepage_container .search_box form li.search_bar div.search_bar_container button.make_query svg#loading_spinner circle.path {
    stroke-width: 4px;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 130;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 130;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 130;
    stroke-dashoffset: -124;
  }
}

.homepage_container .search_box form li.search_bar div.search_bar_container button.make_query svg#loading_spinner.manually_progress circle.path {
  /* 
       * Si el `svg#loading_spinner` tiene un 
       * `.manually_progress` quedra decir que
       * no se debera hacer la animacion `dash`. 
       *
       * Ya que la longitud de la barra se generara
       * y se pondra directamente en JS.
       */
  animation: none !important;
}

/* ------------- SEARCH BAR SUGGESTIONS  ------------- */

.homepage_container .search_box form li.search_bar .floating_box .search_suggestions {
  margin: 0;
  padding: 0;

  --side-suggestions-sapce: 16px;
}

.homepage_container .search_box form li.search_bar .floating_box .search_suggestions .search_suggestions_container p.short_title {
  margin: 14px var(--side-suggestions-sapce) 0 var(--side-suggestions-sapce);
  padding-left: var(--side-suggestions-sapce);
  padding-bottom: 4px;

  border-bottom: 1px solid var(--c-secondary-025);

  font-size: var(--text-s);
  color: var(--c-secondary-075);
  font-family: segoe ui, nunito-sans, Tahoma, 'Lucida Sans';
}

.homepage_container .search_box form li.search_bar .floating_box .search_suggestions .search_suggestions_container li.suggestion {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;

  padding: 6px 0 6px var(--side-suggestions-sapce);
  margin: 10px var(--side-suggestions-sapce) 10px var(--side-suggestions-sapce);

  border-radius: 4px;

  --rows_search_suggestions: 1fr;
}

.homepage_container .search_box form li.search_bar .floating_box .search_suggestions .search_suggestions_container li.suggestion:hover {
  background: hsl(210 11% 95%);
}

@media only screen and (max-width: 768px) {
  .homepage_container .search_box form li.search_bar .floating_box .search_suggestions li.suggestion {
    margin: 12px 0;
  }
}

.homepage_container .search_box form li.search_bar .floating_box .search_suggestions .search_suggestions_container li.suggestion input {
  position: absolute;

  display: flex;
  justify-content: flex-start;

  padding: 0;
  width: 100%;

  border: none;
  background: none;
  cursor: pointer;
}

.homepage_container .search_box form li.search_bar .floating_box .search_suggestions .search_suggestions_container li.suggestion p {
  color: var(--c-secondary-100);
  text-decoration: none;

  max-width: 80%;

  margin: 0;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
  .homepage_container .search_box form li.search_bar .floating_box .search_suggestions .search_suggestions_container li.suggestion p {
    font-size: var(--text-m);
    letter-spacing: 0.03em;
  }
}

.homepage_container .search_box form li.search_bar .floating_box .search_suggestions .search_suggestions_container li.suggestion p b {
  color: var(--c-secondary-150);
}

[theme='dark'] .homepage_container .search_box form li.search_bar .floating_box .search_suggestions .search_suggestions_container li.suggestion p b {
  color: var(--c-secondary-200) !important;
}

.homepage_container .search_box form li.search_bar .floating_box .search_suggestions .search_suggestions_container li.suggestion div.select {
  margin-left: auto;
  margin-right: 20px;
  width: max-content;
}

.homepage_container .search_box form li.search_bar .floating_box .search_suggestions .search_suggestions_container li.suggestion:hover div.select::before {
  content: 'Select';

  letter-spacing: 0.03em;
  font-size: var(--text-s);
  color: var(--c-secondary-075);

  font-family: sans-serif, segoe ui, nunito-sans, Helvetica;
}

/* -------------- LOADING INFORMATION  -------------- */

.homepage_container .search_box form .loading_information_container {
  position: absolute;
  right: 0;

  display: flex;
  align-items: center;
}

.homepage_container .search_box form .loading_information_container div {
  position: absolute;

  margin: 0 0 0 36px;

  border-radius: 4px;
  border: 1px solid var(--c-secondary-050);
}

.homepage_container .search_box form .loading_information_container div p {
  width: max-content;

  margin: 3px 4px;
  padding: 0 16px;

  font-size: var(--text-xs);
  color: var(--c-secondary-100);

  letter-spacing: 0.06em;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .homepage_container .search_box form .loading_information_container {
    display: none !important;
  }
}
