@layer boxes {
  @layer box-model-three {
    .box_model_three > form {
      width: 100%;

      display: flex;
      -webkit-box-pack: start;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      gap: 20px;
      cursor: pointer;
    }

    .box_model_three > form > div {
      width: 100%;
    }

    .box_model_three .top_part > div {
      overflow: hidden;
      border-radius: 8px;
    }

    .box_model_three .top_part > div > img {
      display: block;
      position: relative;

      width: 100%;

      transition: var(--default-transition);
    }

    .box_model_three .top_part > div:hover > img {
      transform: scale(1.02);
    }

    .box_model_three .top_part > p {
      margin: 24px 0 0;

      letter-spacing: -0.13px;
      font-size: var(--text-m);
      color: var(--c-secondary-150);
    }

    .box_model_three .bottom_part > div {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;

      overflow: hidden;
    }

    .box_model_three .bottom_part > div > p {
      margin: 8px 0 0;
      font-size: var(--text-l);
    }

    .box_model_three .bottom_part > p {
      margin: 0;

      font-size: 1.438em;
      font-weight: 500;
      letter-spacing: -0.4px;
    }
  }

  @layer box-img {
    .box_img {
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 4px;
      background-color: #fbfaf9;

      overflow: hidden;
    }
  }
}

@layer buttons {
  button {
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    transition: var(--default-transition);
  }

  @layer model-green {
    button.model-green {
      display: inline-flex;
      align-items: center;

      font-weight: 500;
      color: white;

      border: none;
      border-radius: 4px;
      background-color: var(--green);
    }

    button.model-green:hover {
      background-color: var(--dark-green);
    }

    @media (min-width: 768px) {
      button.model-green {
        padding: 10px 24px;
        font-size: var(--text-m);
      }
    }

    @media (max-width: 768px) {
      button.model-green {
        padding: 8px 18px;
        font-size: var(--text-s);
      }
    }
  }

  @layer btn-model-one {
    button.btn_model_one {
      padding: 10px 24px;
      border-radius: 6px;
      border-style: none;

      font-size: var(--text-ml);
      color: var(--c-secondary-300);

      background-color: #fbfaf9;
    }

    button.btn_model_one > .rotated_arrow {
      width: 15px;
      height: 12px;

      margin-left: 8px;
      transform: rotate(-45deg);
    }
  }

  @layer btn-model-three {
    button.btn_model_three {
      display: inline-flex;
      align-items: center;

      height: 100%;

      margin: 0;
      padding: 10px 16px;

      border: none;
      border-radius: 32px;

      font-weight: 600;
      font-size: var(--text-m);
    }

    button.btn_model_three > svg {
      width: 12px;
      height: 12px;
      margin-left: 8px;

      fill: none;
      transition: var(--default-transition);
      transition-duration: 130ms !important;
    }

    button.btn_model_three > svg path,
    button.btn_model_three > svg line {
      stroke-width: 3;
      stroke: currentColor;
    }

    button.btn_model_three > svg path {
      transform-origin: 12.5px 7.5px;
      transform: translateX(-4px);
      transition: inherit;
    }

    button.btn_model_three:hover > svg path {
      transform: none;
    }

    button.btn_model_three > svg line {
      opacity: 0;
      transition: inherit;
    }

    button.btn_model_three:hover > svg line {
      opacity: 1;
    }

    @layer black {
      button.btn_model_three.black {
        color: var(--c-secondary-000);
        background-color: var(--c-secondary-450);
      }

      button.btn_model_three.black > svg {
        color: var(--c-secondary-000);
      }
    }

    @layer white {
      button.btn_model_three.white {
        color: var(--c-secondary-450);
        background-color: var(--c-secondary-000);
      }

      button.btn_model_three.white > svg {
        color: var(--c-secondary-450);
      }
    }
  }

  @layer btn-model-four {
    button.btn_model_three {
      display: inline-flex;
      align-items: center;

      height: 100%;

      margin: 0;
      padding: 10px 16px;

      border: none;
      border-radius: 32px;

      font-weight: 600;
      font-size: var(--text-m);
    }

    @layer black {
      button.btn_model_three.black {
        color: var(--c-secondary-000);
        background-color: var(--c-secondary-450);
      }
    }

    @layer white {
      button.btn_model_three.white {
        color: var(--c-secondary-450);
        background-color: var(--c-secondary-000);
      }
    }
  }

  @layer btn-model-five {
    button.btn_model_five {
      display: inline-flex;
      align-items: center;

      border: none;
      background-color: transparent;

      font-weight: 400;
      font-size: var(--text-ms);
      color: var(--c-secondary-150);
    }

    button.btn_model_five > svg {
      width: 10px;
      height: 10px;
      margin-left: 8px;

      color: var(--c-secondary-150);

      fill: none;
      transition: var(--default-transition);
      transition-duration: 130ms !important;
    }

    button.btn_model_five > svg path,
    button.btn_model_five > svg line {
      stroke-width: 2;
      stroke: currentColor;
    }

    button.btn_model_five > svg path {
      transform-origin: 12.5px 7.5px;
      transform: translateX(-4px);
      transition: inherit;
    }

    button.btn_model_five:hover > svg path {
      transform: none;
    }

    button.btn_model_five > svg line {
      opacity: 0;
      transition: inherit;
    }

    button.btn_model_five:hover > svg line {
      opacity: 1;
    }
  }
}

@layer double-column {
  .double-column {
    margin: 0;
    padding: 82px 0 41px;

    grid-row-gap: 4rem;
    grid-column-gap: 1.5rem;
  }

  @media (min-width: 1080px) {
    .double-column {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-rows: auto;
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }

  @media (max-width: 1080px) {
    .double-column {
      display: flex;
      flex-direction: column;

      width: 100%;
    }
  }

  .double-column > * {
    position: relative;
  }

  @layer columns {
    /* 
     * The style depends on which column will
     * be the larger one: left or right. 
     */

    .double-column.left > div:first-of-type {
      grid-column: span 6 / span 6;
      grid-column-start: 1;
      grid-row: 1;
    }

    .double-column.left > div:last-of-type {
      grid-column: span 5 / span 5;
      grid-column-start: 8;
    }

    .double-column.right > div:first-of-type {
      grid-column: span 5 / span 5;
      grid-column-start: 1;
      grid-row: 1;
    }

    .double-column.right > div:last-of-type {
      grid-column: span 6 / span 6;
      grid-column-start: 7;
    }
  }

  .double-column p {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  @media (min-width: 480px) and (max-width: 1080px) {
    .double-column p {
      margin-right: 82px;
    }
  }
}
