@layer fonts {
  @font-face {
    font-family: 'Inter';
    src: url('../../../assets/fonts/Inter-Regular.ttf') format('truetype');

    font-weight: 400;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../../../assets/fonts/Inter-Medium.ttf') format('truetype');

    font-weight: 500;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../../../assets/fonts/Inter-SemiBold.ttf') format('truetype');

    font-weight: 600;
  }
}

@layer general-font-styles {
  p,
  a,
  span,
  label,
  input,
  input::placeholder {
    font-size: var(--text-ml);
    color: var(--c-secondary-450);

    line-height: 1.59;
    font-style: normal;
    letter-spacing: -0.3px;

    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }

  @layer heading {
    h1,
    h2,
    h3,
    h4 {
      margin: 0;
      font-style: normal;
    }

    h1 {
      font-weight: 500;
      color: var(--c-secondary-450);

      word-spacing: 0.06em;
      letter-spacing: -0.6px;

      font-family: 'Inter', sans-serif;
    }

    @media (min-width: 1080px) {
      h1 {
        font-size: 3rem;
        line-height: 1.16;
      }
    }

    @media (min-width: 480px) and (max-width: 1080px) {
      h1 {
        font-size: 2.1rem;
        line-height: 1.16;
      }
    }

    @media (max-width: 480px) {
      h1 {
        font-size: 1.76rem;
        line-height: 1.06;
      }
    }

    h2 {
      font-size: 2.5rem;
      line-height: 1.12;

      font-weight: 600;
      word-spacing: 0.06em;
      letter-spacing: -1.35px;

      color: var(--c-secondary-450);
      font-family: 'Inter', sans-serif;
    }

    h3 {
      font-size: 1.95rem;
      color: var(--c-secondary-450);
      line-height: 1.24;
      font-weight: 600;
      letter-spacing: -0.02em;
      word-spacing: 0.04em;
      font-family: sans-serif, 'Inter';
    }

    h4 {
      margin: 0;

      font-size: var(--text-xs);
      color: var(--c-secondary-075);

      font-weight: 500;
      line-height: 1.5;
      word-spacing: 0.2em;

      letter-spacing: 0.05em;
      font-family: 'Inter', sans-serif;
    }

    h5 {
      margin: 0;

      font-size: 1.2rem;
      color: var(--c-secondary-450);

      line-height: 1.24;
      font-weight: 600;
      letter-spacing: -0.3px;

      word-spacing: 0.04em;
      font-family: 'Inter', sans-serif;
    }
  }
}
