@layer text-sizes {
  :root {
    --text-xs: 0.76rem;
    --text-s: 0.82rem;
    --text-ms: 0.88rem;
    --text-m: 0.94rem;
    --text-ml: 1.02rem;
    --text-l: 1.06rem;
    --text-xl: 1.12rem;
  }
}

@layer light {
  :root {
    --white: white;

    --black: black;
    --soft-black: #141414;
    --ultra-soft-black: #86868b;

    --light-gray: #fbfaf9;
    --gray: #f3f3f4;
    --dark-gray: #e9e9ed;

    --green: #4cc37b;

    --soft-link-water: #f5f6f7;
    --link-water: #d5dbe2;
    --dark-link-water: #adb5bd;

    --c-secondary-200: #7c838b;

    --gray-blue: #5e656c;
    --dark-gray-blue: #343a40;
  }
}

@layer dark {
  [theme='dark'] {
  }
}
