@import '/styles/www.[domain].com/accordion.css';

@layer sections {
  section {
    display: flex;
    align-items: center;
    flex-direction: column;

    border-bottom: 1px solid var(--white-smoke);
  }

  @media (min-width: 768px) {
    section {
      padding-top: 92px;
      padding-bottom: 92px;
    }
  }

  @media (max-width: 768px) {
    section {
      padding-top: 62px;
      padding-bottom: 62px;
    }
  }

  section > * {
    max-width: var(--max-width);
  }

  hgroup.sec-title {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 12px;

    width: 100%;
  }

  @layer hero-section {
    #section-hero {
      isolation: isolate;
      overflow: hidden;
      padding-bottom: 0 !important;
    }

    @media (min-width: 480px) {
      #section-hero {
        padding-top: 238px !important;
      }

      [theme='light'] #section-hero {
        border-bottom: none !important;
        background: linear-gradient(to bottom, var(--white) 45%, var(--white-smoke) 80%);
      }

      [theme='dark'] #section-hero {
        background: var(--white);
      }
    }

    @media (max-width: 480px) {
      #section-hero {
        padding-top: 172px !important;
        background: var(--white);
      }
    }

    #section-hero p {
      color: var(--gray);
    }

    [theme='dark'] #section-hero p {
      font-weight: 500;
    }

    #section-hero span {
      display: block;
      color: var(--soft-black);
    }

    @media (min-width: 480px) {
      #section-hero p,
      #section-hero span {
        font-size: 0.88rem;
      }
    }

    @media (max-width: 480px) {
      #section-hero p,
      #section-hero span {
        font-size: 0.76rem;
      }
    }

    #section-hero > * {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    @layer hero-content {
      .hero-content {
        width: 100%;
        align-items: start !important;
      }

      @media (min-width: 1080px) {
        .hero-content > h1 {
          max-width: 900px;
        }
      }

      @media (min-width: 480px) and (max-width: 1080px) {
        .hero-content > h1 {
          max-width: 600px;
        }
      }

      .hero-content > p {
        max-width: 498px;
        margin: 48px 0 39px;
      }
    }

    @layer hero-decoration {
      .hero-decoration {
        width: 100%;
      }

      @media (min-width: 1080px) {
        .hero-decoration {
          margin: 132px 0 66px;
        }
      }

      @media (min-width: 480px) and (max-width: 1080px) {
        .hero-decoration {
          margin: 102px 0 51px;
        }
      }

      @media (max-width: 480px) {
        .hero-decoration {
          margin: 48px 0;
        }
      }

      @layer green-button {
        .model-green figure {
          display: flex;
          align-items: center;

          margin: 0 10px 0 0;
        }

        .model-green figure svg {
          width: 16px;
          height: 16px;
        }

        .model-green figure svg path {
          fill: none;
          stroke-width: 3px;
          transition: all 0.3s ease-in-out;
        }

        [theme='light'] .model-green figure svg path {
          stroke: var(--white);
        }

        [theme='dark'] .model-green figure svg path {
          stroke: var(--black);
        }
      }

      @layer grid {
        .hero-decoration > ol {
          display: grid;
          grid-template-columns: repeat(12, minmax(0, 1fr));

          padding: 0;
          margin: 0 0 14px;

          width: 100%;
        }

        .hero-decoration > ol p,
        .hero-decoration > ol span {
          margin: 0;
        }

        .hero-decoration > ol > li:last-of-type > p,
        .hero-decoration > ol > li:last-of-type > span {
          text-align: right;
        }
      }

      @layer hero-image {
        .hero-decoration > form {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 100%;
          border-radius: 4px;
          background: var(--white-smoke);
        }

        [theme='light'] .hero-decoration > form img:last-child {
          display: none !important;
        }

        [theme='dark'] .hero-decoration > form img:first-child {
          display: none !important;
        }

        @media (min-width: 1080px) {
          .hero-decoration > form img {
            width: 1180px;
            padding: 94px 0;
          }
        }

        @media (min-width: 480px) and (max-width: 1080px) {
          .hero-decoration > form img {
            width: 100%;
            padding: 56px 0;
          }
        }

        @media (max-width: 480px) {
          .hero-decoration > form img {
            width: 132%;
            padding: 34px 0;
          }
        }
      }
    }
  }

  @layer brief-about-section {
    @layer content {
      #section-brief-about > .double-column {
        padding: 24px 0 0 !important;
      }

      @layer done-list {
        #section-brief-about .done-list {
          display: flex;
          flex-direction: column;

          color: var(--gray);
          padding: 20px 0 0;
          gap: 12px;
        }

        #section-brief-about .done-list > li {
          display: flex;
          align-items: center;
        }

        #section-brief-about .done-list > li > p {
          color: currentColor;
          margin: 0;
        }

        #section-brief-about .done-list > li > svg {
          width: 16px;
          margin-right: 15px;

          fill: none;
        }

        #section-brief-about .done-list > li > svg > path {
          stroke: currentcolor;
          stroke-width: 2.25;
        }
      }

      @layer user-image {
        .user-centric,
        .user-centric > div,
        .user-centric > ul,
        .user-centric > ul li div,
        .user-centric > ul li div svg {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .user-centric {
          position: relative;

          border-radius: 4px;
          background: var(--white-smoke);
        }

        .user-centric > div {
          position: absolute;

          border-radius: 124px;
          background: var(--white);
          border: 1px solid var(--soft-gray);
          box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 12px;
        }

        @media (min-width: 1480px) {
          .user-centric > div {
            width: 146px;
            height: 146px;
          }
        }

        @media (min-width: 480px) and (max-width: 1480px) {
          .user-centric > div {
            width: 124px;
            height: 124px;
          }
        }

        @media (max-width: 480px) {
          .user-centric > div {
            width: 104px;
            height: 104px;
          }
        }

        .user-centric > div svg {
          padding: 6px;
          border-radius: 124px;
        }

        [theme='light'] .user-centric > div svg {
          fill: var(--green);
        }

        [theme='dark'] .user-centric > div svg {
          fill: var(--soft-gray);
        }

        .user-centric > ul {
          margin: 0;
          padding: 0;
          width: 100%;
        }

        @media (min-width: 1080px) {
          .user-centric > ul {
            height: 574px;
          }
        }

        @media (min-width: 480px) and (max-width: 1080px) {
          .user-centric > ul {
            height: 498px;
          }
        }

        @media (max-width: 480px) {
          .user-centric > ul {
            height: 384px;
          }
        }

        .user-centric > ul li,
        .user-centric > ul li div svg {
          animation-duration: 22s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }

        .user-centric > ul li {
          position: absolute;
          animation-name: properties-rotation;
        }

        @media (min-width: 1080px) {
          .user-centric > ul li {
            width: 394px;
          }
        }

        @media (min-width: 480px) and (max-width: 1080px) {
          .user-centric > ul li {
            width: 376px;
          }
        }

        @media (max-width: 480px) {
          .user-centric > ul li {
            width: 294px;
          }
        }

        @keyframes properties-rotation {
          0% {
            transform: rotate(var(--rotation));
          }

          100% {
            transform: rotate(calc(360deg + var(--rotation)));
          }
        }

        .user-centric > ul li div {
          border-radius: 52px;
          background: var(--white);
          border: 1px solid var(--soft-gray);
          box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 12px;
        }

        @media (min-width: 1480px) {
          .user-centric > ul li div {
            width: 72px;
            height: 72px;
          }
        }

        @media (min-width: 480px) and (max-width: 1480px) {
          .user-centric > ul li div {
            width: 64px;
            height: 64px;
          }
        }

        @media (max-width: 480px) {
          .user-centric > ul li div {
            width: 54px;
            height: 54px;
          }
        }

        .user-centric > ul li div svg {
          height: 56%;
          fill: var(--soft-gray);

          animation-direction: reverse;
          animation-name: properties-inverted-rotation;
        }

        @keyframes properties-inverted-rotation {
          100% {
            transform: rotate(1turn);
          }
        }
      }
    }
  }

  @layer benefits-section {
    #section-benefits {
      border: none !important;
    }

    @layer content {
      #section-benefits .double-column {
        width: 100%;
        padding: 24px 0 0;
      }

      @media (max-width: 1480px) {
        #section-benefits > * {
          display: flex !important;
          flex-direction: column !important;
        }
      }

      #section-benefits > div > div:first-child p {
        max-width: 584px;
      }

      #section-benefits > div > div:first-child a {
        color: currentColor;

        margin: 0 1px;
        padding: 1px 10px;

        border-radius: 4px;
        background: var(--white-smoke);
      }

      #section-benefits > div > div:first-child a::after {
        content: '\2192';

        margin-left: 8px;
        font-size: 0.82rem;
      }

      @layer benefits-grid {
        ul.benefits-grid {
          --pad: 24px;
        }

        ul.benefits-grid {
          display: grid;

          padding: 0;
          margin: 0;
        }

        @media (min-width: 768px) {
          ul.benefits-grid {
            gap: 4px;
            grid-template-columns: repeat(2, minmax(0, 1fr));
          }
        }

        @media (max-width: 768px) {
          ul.benefits-grid {
            gap: 8px;
          }
        }

        ul.benefits-grid span {
          color: var(--black);
          font-weight: 600;
        }

        ul.benefits-grid p {
          margin: 4px 0 8px;
          max-width: 324px;

          font-size: 0.94rem;
          color: var(--dark-gray);

          letter-spacing: -0.13px;
          line-height: 22px;
        }

        ul.benefits-grid > li {
          display: flex;
          flex-direction: column;

          min-height: 314px; /* AQUI */
          margin: 0;
          padding: 0 var(--pad) 14px;

          overflow: hidden;
          border-radius: 4px;
          background-color: var(--white-smoke);
        }

        ul.benefits-grid > li > div:first-child {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 100%;
          height: 100%;
          padding: 25px 0 16px;
        }
      }

      @layer benefits-illustrations {
        @layer confidential-search {
          #confidential-search > div:first-child {
            width: calc(100% + var(--pad)) !important;
          }

          #confidential-search .confidentiality {
            padding: 4px 0px 4px 0;
            border-radius: 24px 0 0 24px;
          }

          [theme='light'] #confidential-search .confidentiality {
            background-color: var(--black);
            box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 24px;
          }

          [theme='dark'] #confidential-search .confidentiality {
            background-color: var(--white);
          }

          @media (min-width: 1080px) and (max-width: 1480px) {
            #confidential-search .confidentiality {
              border-radius: 24px !important;
            }
          }

          #confidential-search .confidentiality div {
            display: inline-flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 18px;

            margin-left: 4px;
            padding: 12px 16px;

            border-radius: 18px 0 0 18px;
          }

          [theme='light'] #confidential-search .confidentiality div {
            background-color: var(--soft-black);
          }

          [theme='dark'] #confidential-search .confidentiality div {
            background: var(--white);
          }

          @media (min-width: 1080px) and (max-width: 1480px) {
            #confidential-search .confidentiality div {
              border-radius: 18px !important;
              margin-right: 4px;
            }
          }

          #confidential-search .confidentiality span {
            font-size: 1.12rem;
            line-height: 26px;
          }

          [theme='light'] #confidential-search .confidentiality span {
            color: var(--white);
          }

          [theme='dark'] #confidential-search .confidentiality span {
            color: var(--black);
          }

          #confidential-search .confidentiality p {
            margin: 2px 0 6px;
            max-width: 276px;

            font-weight: 500;
            line-height: 18px;
            font-size: 0.88rem;
          }

          [theme='light'] #confidential-search .confidentiality p {
            color: var(--dark-gray);
          }

          [theme='dark'] #confidential-search .confidentiality p {
            color: var(--gray);
          }

          #confidential-search .confidentiality form {
            width: 20px;
            height: 20px;
            padding: 8px;
            border-radius: 50%;

            flex: 0 0 auto;
            opacity: 0.4;
            background-color: var(--dark-gray);
          }

          #confidential-search .confidentiality path {
            fill: none;
            stroke-width: 3px;
          }

          [theme='light'] #confidential-search .confidentiality path {
            stroke: var(--white);
          }

          [theme='dark'] #confidential-search .confidentiality path {
            stroke: var(--black);
          }
        }

        @layer data-breach-protection {
          #data-breach-protection .protection {
            --dur: 4s;
          }

          #data-breach-protection .protection {
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 40px;
            background-color: var(--green);

            animation: change-protection-size var(--dur) infinite alternate ease;
          }

          @keyframes change-protection-size {
            0%,
            20% {
              width: 130px;
              height: 42px;
            }

            40%,
            100% {
              width: 200px;
              height: 46px;
            }
          }

          #data-breach-protection .protection::after {
            content: '';

            font-size: 1.12rem;
            line-height: 1.59;
            font-style: normal;
            letter-spacing: -0.3px;

            font-weight: 400;
            font-family: 'Inter', sans-serif, segoe ui, nunito-sans, Helvetica;

            animation: change-protection-text var(--dur) infinite alternate ease;
          }

          [theme='light'] #data-breach-protection .protection::after {
            color: var(--white);
          }

          [theme='dark'] #data-breach-protection .protection::after {
            color: var(--black);
          }

          @keyframes change-protection-text {
            0%,
            20% {
              content: 'Protect';

              opacity: 100%;
              padding-left: 0;
            }

            28% {
              opacity: 0%;
              padding-left: 0;
            }

            28.01%,
            100% {
              padding-left: 16px;
            }

            32% {
              opacity: 100%;
            }

            40%,
            100% {
              content: 'Protecting';
              opacity: 100%;
            }
          }

          @layer layers {
            #data-breach-protection .layers {
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              animation: opacity-protection-layers var(--dur) infinite alternate ease;
            }

            @keyframes opacity-protection-layers {
              0%,
              15% {
                opacity: 0%;
              }

              30%,
              100% {
                opacity: 100%;
              }
            }

            #data-breach-protection .layers::before,
            #data-breach-protection .layers::after {
              content: '';
              position: absolute;

              width: 100%;
              height: 100%;

              border-radius: 40px;

              animation-duration: 0.4s;
              animation-direction: alternate;
              animation-iteration-count: infinite;
            }

            #data-breach-protection .layers::before {
              padding: 5px;
              animation-name: first-protection-layer;
            }

            [theme='light'] #data-breach-protection .layers::before {
              --start-first-layer-color: var(--green);
              --finish-first-layer-color: #9be4bd;
            }

            [theme='dark'] #data-breach-protection .layers::before {
              --start-first-layer-color: var(--green);
              --finish-first-layer-color: #284e3a;
            }

            @keyframes first-protection-layer {
              from {
                border: 3.5px solid var(--start-first-layer-color);
              }

              to {
                border: 3.5px solid var(--finish-first-layer-color);
              }
            }

            #data-breach-protection .layers::after {
              padding: 13px;
              animation-name: second-protection-layer;
            }

            [theme='light'] #data-breach-protection .layers {
              --start-second-layer-color: #9be4bd;
              --finish-second-layer-color: #ddf6e8;
            }

            [theme='dark'] #data-breach-protection .layers {
              --start-second-layer-color: #284e3a;
              --finish-second-layer-color: #112d1d;
            }

            @keyframes second-protection-layer {
              from {
                border: 3.5px solid var(--start-second-layer-color);
              }

              to {
                border: 3.5px solid var(--finish-second-layer-color);
              }
            }
          }

          @layer loading {
            #data-breach-protection .loading {
              width: 16px;
              padding: 4px;

              aspect-ratio: 1;
              border-radius: 50%;

              background: radial-gradient(farthest-side, #fff 100%, transparent) top/0 no-repeat,
                conic-gradient(transparent 18%, #fff);

              animation: rotate-protection-loading 0.5s infinite linear,
                loading-protection-opacity var(--dur) infinite alternate ease;
            }

            @keyframes rotate-protection-loading {
              to {
                transform: rotate(1turn);
              }
            }

            @keyframes loading-protection-opacity {
              0%,
              20% {
                display: none;
              }

              28% {
                opacity: 0%;
                display: none;
              }

              32% {
                opacity: 100%;
                display: block;
              }

              40%,
              100% {
                opacity: 100%;
                display: block;
              }
            }
          }
        }

        @layer encryption {
          #encryption .encrypted-message {
            display: flex;
            align-items: center;
            flex-direction: column;

            width: 80%;
            gap: 17px;
          }

          #encryption .encrypted-message > div {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;

            background: var(--white);
            border: 1px solid var(--soft-gray);
            box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 12px;
          }

          @layer top-box {
            #encryption .encrypted-message > div:first-child {
              width: 100%;
              max-width: 276px;

              gap: 16px;
              padding: 12px 14px;
              border-radius: 16px;

              align-items: flex-start !important;
            }

            #encryption .encrypted-message > div:first-child div {
              height: 100%;

              display: flex;
              flex-direction: column;
            }

            #encryption .encrypted-message > div:first-child div:first-child {
              flex: 0 0 auto;
              align-items: center;
              justify-content: center;

              width: 74px;
              height: 76px;

              border-radius: 16px;
              background: var(--green);
            }

            #encryption .encrypted-message > div:first-child svg {
              height: 28px;
              width: 29px;
            }

            [theme='light'] #encryption .encrypted-message > div:first-child svg {
              fill: var(--white);
            }

            [theme='dark'] #encryption .encrypted-message > div:first-child svg {
              fill: var(--black);
            }

            #encryption .encrypted-message > div:first-child div:last-child {
              align-items: flex-start;
              justify-content: flex-start;

              padding-top: 10px;
              padding-right: 6px;
            }

            #encryption .encrypted-message > div:first-child p {
              margin: 2px 0 6px;
              line-height: 18px;
              font-size: 0.88rem;
            }
          }

          @layer bottom-box {
            #encryption .encrypted-message > div:last-child {
              width: 80%;
              height: 12px;
              max-width: 154px;

              padding: 7px 8px;

              border-radius: 18px;
              justify-content: space-between !important;
            }

            #encryption .encrypted-message > div:last-child::after {
              content: 'Message Encrypted';

              margin: 0;
              padding-left: 8px;
              padding-right: 8px;

              font-style: normal;
              color: var(--green);
              letter-spacing: -0.13px;

              font-weight: 500;
              font-size: 0.76rem;
              font-family: 'Inter';
            }

            #encryption .encrypted-message > div:last-child svg {
              height: 20px;
              width: 20px;

              fill: var(--green);
            }
          }
        }

        @layer open-source {
          #open-source .expansion {
            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;
          }

          #open-source .expansion div {
            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;

            border-radius: 124px;
            border: 1px solid var(--soft-gray);
          }

          #open-source .expansion div:first-of-type {
            width: 140%;
            height: 140%;

            animation: orbit-rotation 5s infinite linear;
          }

          #open-source .expansion div:last-of-type {
            width: 192%;
            height: 192%;

            animation: orbit-rotation 11s infinite linear;
          }

          @keyframes orbit-rotation {
            100% {
              transform: rotate(1turn);
            }
          }

          #open-source .expansion div::after {
            content: '';

            position: absolute;
            left: -6px;

            width: 12px;
            height: 12px;

            border-radius: 12px;
            background: var(--soft-gray);
          }

          #open-source .expansion img {
            z-index: 50;

            width: 54px;
            height: 54px;

            padding: 12px;
            border-radius: 84px;
          }

          [theme='light'] #open-source .expansion img {
            background: var(--soft-black);
            box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 24px;
          }

          [theme='dark'] #open-source .expansion img {
            background: var(--white);
            border: 2px solid var(--soft-gray);
          }
        }
      }
    }
  }

  @layer privacy-problems-section {
    #section-privacy-problems {
      border: none !important;
      background: var(--white-smoke);
    }

    @layer title {
      #section-privacy-problems .sec-title > h4 {
        color: var(--gray);
      }
    }

    @layer content {
      .problems-list {
        display: grid;
        column-gap: 48px;

        padding: 0;
        margin-bottom: 24px;
      }

      @media (min-width: 1080px) {
        .problems-list {
          margin-top: 86px;

          row-gap: 56px;
          grid-template-columns: repeat(3, minmax(0, 1fr));
        }
      }

      @media (min-width: 480px) and (max-width: 1080px) {
        .problems-list {
          margin-top: 74px;

          row-gap: 56px;
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }
      }

      @media (max-width: 480px) {
        .problems-list {
          margin-top: 54px;

          row-gap: 42px;
          grid-template-columns: 1fr;
        }
      }

      .problems-list li span {
        font-size: 0.82rem;
        color: var(--gray);
      }

      .problems-list li p {
        margin: 12px 0 0;

        font-size: 0.94rem;
        color: var(--dark-gray);
      }
    }
  }

  @layer details-section {
    @layer content {
      #section-details .double-column > div:first-child {
        display: flex;
        align-self: flex-start;
        flex-direction: column;
      }

      @media (min-width: 1080px) {
        #section-details .double-column > div:first-child {
          position: sticky;
          top: 184px;
        }
      }

      #section-details .double-column > div:first-child p {
        max-width: 584px;
      }

      @layer details-list {
        .details-list {
          display: flex;
          flex-direction: column;

          padding: 0;
          margin: 0;
          gap: 74px;
        }

        .details-list li {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }

        .details-list li > div:first-child {
          display: flex;
          align-items: center;
          justify-content: center;

          background-color: var(--white-smoke);
        }

        @media (min-width: 480px) {
          .details-list li > div:first-child {
            min-height: 364px;
          }
        }

        @media (max-width: 480px) {
          .details-list li > div:first-child {
            min-height: 294px;
          }
        }

        .details-list li > div:last-child {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }

        .details-list li > div:last-child span {
          color: var(--black);
          font-weight: 600;
        }

        .details-list li > div:last-child p {
          margin: 0;

          line-height: 22px;
          font-size: 0.86rem;
          color: var(--dark-gray);
          letter-spacing: -0.13px;
        }

        @layer details-images {
          .blyss-logo img {
            border-radius: 4px;
            background-color: var(--soft-gray);
          }

          [theme='light'] .blyss-logo img:last-child {
            display: none !important;
          }

          [theme='dark'] .blyss-logo img:first-child {
            display: none !important;
          }

          @media (min-width: 768px) {
            .blyss-logo img {
              width: 212px;
              padding: 8px 46px;
            }
          }

          @media (main-width: 480px) and (max-width: 768px) {
            .blyss-logo img {
              width: 186px;
              padding: 4px 52px;
            }
          }

          @media (max-width: 480px) {
            .blyss-logo img {
              width: 148px;
              padding: 2px 38px;
            }
          }
        }
      }
    }
  }

  @layer faqs-section {
    #section-faqs {
      margin-bottom: 46px;
    }

    @layer content {
      #section-faqs > .double-column {
        padding: 0;
      }

      @media (min-width: 1080px) {
        .faqs-sample {
          margin-top: 34px;
        }
      }
    }
  }
}
