@import '/styles/www.[domain].com/accordion.css';

@layer sections {
  section {
    display: flex;
    align-items: center;
    flex-direction: column;

    border-bottom: 1px solid var(--gray);
  }

  @media (min-width: 768px) {
    section {
      padding-top: 92px;
      padding-bottom: 92px;
    }
  }

  @media (max-width: 768px) {
    section {
      padding-top: 62px;
      padding-bottom: 62px;
    }
  }

  section > * {
    max-width: var(--max-width);
  }

  hgroup.sec-title {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 12px;

    width: 100%;
  }

  @layer hero-section {
    #section-hero {
      isolation: isolate;
      overflow: hidden;
      padding-bottom: 0 !important;
    }

    @media (min-width: 480px) {
      #section-hero {
        padding-top: 238px !important;
        border-bottom: none !important;
        background: linear-gradient(to bottom, var(--white) 45%, var(--gray) 80%);
      }
    }

    @media (max-width: 480px) {
      #section-hero {
        padding-top: 172px !important;
        background: var(--white);
      }
    }

    #section-hero p {
      color: #aaa;
    }

    #section-hero span {
      display: block;
      color: var(--dark-gray-blue);
    }

    @media (min-width: 480px) {
      #section-hero p,
      #section-hero span {
        font-size: var(--text-ms);
      }
    }

    @media (max-width: 480px) {
      #section-hero p,
      #section-hero span {
        font-size: var(--text-xs);
      }
    }

    #section-hero > * {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    @layer hero-content {
      .hero-content {
        width: 100%;
        align-items: start !important;
      }

      @media (min-width: 1080px) {
        .hero-content > h1 {
          max-width: 900px;
        }
      }

      @media (min-width: 480px) and (max-width: 1080px) {
        .hero-content > h1 {
          max-width: 600px;
        }
      }

      .hero-content > p {
        max-width: 498px;
        margin: 48px 0 39px;
      }
    }

    @layer hero-decoration {
      .hero-decoration {
        width: 100%;
      }

      @media (min-width: 1080px) {
        .hero-decoration {
          margin: 132px 0 66px;
        }
      }

      @media (min-width: 480px) and (max-width: 1080px) {
        .hero-decoration {
          margin: 102px 0 51px;
        }
      }

      @media (max-width: 480px) {
        .hero-decoration {
          margin: 48px 0;
        }
      }

      @layer green-button {
        .model-green figure {
          display: flex;
          align-items: center;

          margin: 0 10px 0 0;
        }

        .model-green figure svg {
          width: 16px;
          height: 16px;
        }

        .model-green figure svg path {
          fill: none;
          stroke-width: 3px;
          stroke: white;

          transition: all 0.3s ease-in-out;
        }
      }

      @layer grid {
        .hero-decoration > ol {
          display: grid;
          grid-template-columns: repeat(12, minmax(0, 1fr));

          padding: 0;
          margin: 0 0 14px;

          width: 100%;
        }

        .hero-decoration > ol p,
        .hero-decoration > ol span {
          margin: 0;
        }

        .hero-decoration > ol > li:last-of-type > p,
        .hero-decoration > ol > li:last-of-type > span {
          text-align: right;
        }
      }

      @layer hero-image {
        .hero-decoration > form {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 100%;
          border-radius: 4px;
          background: var(--gray);
        }

        @media (min-width: 1080px) {
          .hero-decoration > form > img {
            width: 1180px;
            padding: 94px 0;
          }
        }

        @media (min-width: 480px) and (max-width: 1080px) {
          .hero-decoration > form > img {
            width: 100%;
            padding: 56px 0;
          }
        }

        @media (max-width: 480px) {
          .hero-decoration > form > img {
            width: 132%;
            padding: 34px 0;
          }
        }
      }
    }
  }

  @layer brief-about-section {
    @layer content {
      #section-brief-about > .double-column {
        padding: 24px 0 0 !important;
      }

      @layer done-list {
        #section-brief-about .done-list {
          display: flex;
          flex-direction: column;

          color: var(--dark-link-water);
          padding: 20px 0 0;
          gap: 12px;
        }

        #section-brief-about .done-list > li {
          display: flex;
          align-items: center;
        }

        #section-brief-about .done-list > li > p {
          color: currentColor;
          margin: 0;
        }

        #section-brief-about .done-list > li > svg {
          width: 16px;
          margin-right: 15px;

          fill: none;
        }

        #section-brief-about .done-list > li > svg > path {
          stroke: currentcolor;
          stroke-width: 2.25;
        }
      }

      @layer button {
        @media (min-width: 1080px) {
          #section-brief-about > .double-column > div:first-of-type > form {
            position: absolute;
            bottom: 0;
          }
        }

        @media (max-width: 1080px) {
          #section-brief-about > .double-column > div:first-of-type > form {
            padding-top: 45px;
          }
        }
      }

      @layer image {
        #section-brief-about .image-container {
          display: flex;
          align-items: center;
          justify-content: center;

          border-radius: 4px;
          background-color: var(--gray);
        }

        @media (min-width: 768px) {
          #section-brief-about .image-container {
            min-height: 720px;

            & img {
              height: 564px;
            }
          }
        }

        @media (max-width: 768px) {
          #section-brief-about .image-container {
            min-height: 420px;

            & img {
              height: 264px;
            }
          }
        }
      }
    }
  }

  @layer benefits-section {
    #section-benefits {
      border: none !important;
    }

    @media (min-width: 1080px) {
      #section-benefits > * {
        width: var(--max-width);
      }
    }

    @media (max-width: 1080px) {
      #section-benefits > * {
        padding: 0 24px;
      }
    }

    @layer content {
      #section-benefits > .double-column {
        padding: 24px 0 0;
      }

      #section-benefits a {
        color: #1f8f4b;

        margin: 0 1px;
        padding: 1px 10px;

        border-radius: 4px;
        background: #dbf7e8;
      }

      @layer benefits-grid {
        ul.benefits-grid {
          --pad: 24px;
        }

        ul.benefits-grid {
          display: grid;

          padding: 0;
          margin: 0;
        }

        @media (min-width: 768px) {
          ul.benefits-grid {
            gap: 4px;
            grid-template-columns: repeat(2, minmax(0, 1fr));
          }
        }

        @media (max-width: 768px) {
          ul.benefits-grid {
            gap: 8px;
          }
        }

        ul.benefits-grid span {
          color: var(--black);
          font-weight: 600;
        }

        ul.benefits-grid p {
          margin: 4px 0 8px;

          font-size: var(--text-m);
          color: var(--c-secondary-200);

          letter-spacing: -0.13px;
          line-height: 22px;
        }

        ul.benefits-grid > li {
          display: flex;
          flex-direction: column;

          min-height: 314px; /* AQUI */
          margin: 0;
          padding: 0 var(--pad) 14px;

          overflow: hidden;
          border-radius: 4px;
          background-color: var(--gray);
        }

        ul.benefits-grid > li > div:first-child {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 100%;
          height: 100%;
          padding: 25px 0 16px;
        }
      }

      @layer benefits-illustrations {
        @layer confidential-search {
          #confidential-search > div:first-child {
            width: calc(100% + var(--pad)) !important;
          }

          #confidential-search .confidentiality {
            padding: 4px 0px 4px 0;

            background-color: black;
            border-radius: 24px 0 0 24px;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 24px;
          }

          #confidential-search .confidentiality span {
            font-size: var(--text-xl);
            color: var(--white);
            line-height: 26px;
          }

          #confidential-search .confidentiality p {
            margin: 2px 0 6px;

            font-weight: 500;
            line-height: 18px;
            font-size: var(--text-ms);
            color: var(--c-secondary-200);
          }

          #confidential-search .confidentiality > div {
            display: inline-flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 18px;

            margin-left: 4px;
            padding: 12px 16px;

            background-color: var(--soft-black);
            border-radius: 18px 0 0 18px;
          }

          #confidential-search .confidentiality > div > form {
            width: 20px;
            height: 20px;
            padding: 8px;
            border-radius: 50%;

            flex: 0 0 auto;
            background-color: var(--green);
          }

          #confidential-search .confidentiality > div > form path {
            fill: none;
            stroke-width: 3px;
            stroke: var(--soft-link-water);
          }
        }

        @layer ecryption {
        }

        @layer data-breach-protection {
          /* 
           *  These are some common characteristics of the animation,
           *  shared across different @keyframes::
           *
           *  From 0% to 20%, the animation is in its initial stage.
           *  From 20% to 40%, the animation is undergoing a change.
           *  From 40% to 100%, the animation enters its second stage.
           */

          #data-breach-protection .protection {
            --dur: 4s;
          }

          #data-breach-protection .protection {
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 40px;
            background-color: var(--green);

            animation: change-protection-size var(--dur) infinite alternate ease;
          }

          @keyframes change-protection-size {
            0%,
            20% {
              width: 130px;
              height: 42px;
            }

            40%,
            100% {
              width: 200px;
              height: 46px;
            }
          }

          #data-breach-protection .protection::after {
            content: '';

            color: #fff;
            font-size: var(--text-xl);

            line-height: 1.59;
            font-style: normal;
            letter-spacing: -0.3px;

            font-weight: 400;
            font-family: 'Inter', sans-serif, segoe ui, nunito-sans, Helvetica;

            animation: change-protection-text var(--dur) infinite alternate ease;
          }

          @keyframes change-protection-text {
            0%,
            20% {
              content: 'Protect';

              opacity: 100%;
              padding-left: 0;
            }

            28% {
              opacity: 0%;
              padding-left: 0;
            }

            28.01%,
            100% {
              padding-left: 16px;
            }

            32% {
              opacity: 100%;
            }

            40%,
            100% {
              content: 'Protecting';
              opacity: 100%;
            }
          }

          @layer loading {
            #data-breach-protection .loading {
              width: 16px;
              padding: 4px;

              aspect-ratio: 1;
              border-radius: 50%;

              background: radial-gradient(farthest-side, #fff 100%, transparent) top/0 no-repeat,
                conic-gradient(transparent 18%, #fff);

              animation: rotate-protection-loading 0.5s infinite linear,
                loading-protection-opacity var(--dur) infinite alternate ease;
            }

            @keyframes rotate-protection-loading {
              to {
                transform: rotate(1turn);
              }
            }

            @keyframes loading-protection-opacity {
              0%,
              20% {
                display: none;
              }

              28% {
                opacity: 0%;
                display: none;
              }

              32% {
                opacity: 100%;
                display: block;
              }

              40%,
              100% {
                opacity: 100%;
                display: block;
              }
            }
          }

          @layer layers {
            #data-breach-protection .layers {
              position: absolute;

              display: flex;
              align-items: center;
              justify-content: center;

              width: 100%;
              height: 100%;

              animation: opacity-protection-layers var(--dur) infinite alternate ease;
            }

            @keyframes opacity-protection-layers {
              0%,
              15% {
                opacity: 0%;
              }

              30%,
              100% {
                opacity: 100%;
              }
            }

            #data-breach-protection .layers::before,
            #data-breach-protection .layers::after {
              content: '';

              position: absolute;

              width: 100%;
              height: 100%;

              border-radius: 40px;

              animation-duration: 0.4s;
              animation-direction: alternate;
              animation-iteration-count: infinite;
            }

            #data-breach-protection .layers::before {
              padding: 5px;
              animation-name: first-protection-layer;
            }

            @keyframes first-protection-layer {
              from {
                border: 3.5px solid var(--green);
              }

              to {
                border: 3.5px solid #9be4bd;
              }
            }

            #data-breach-protection .layers::after {
              padding: 13px;
              animation-name: second-protection-layer;
            }

            @keyframes second-protection-layer {
              from {
                border: 3.5px solid #9be4bd;
              }

              to {
                border: 3.5px solid #ddf6e8;
              }
            }
          }
        }

        @layer open-source {
        }
      }
    }
  }

  @layer privacy-problems-section {
    #section-privacy-problems {
      border: none !important;
      background: var(--gray);
    }

    @layer title {
      #section-privacy-problems .sec-title > h4 {
        color: var(--dark-link-water);
      }
    }

    @layer content {
      .problems-list {
        display: grid;
        column-gap: 48px;

        padding: 0;
        margin-bottom: 24px;
      }

      @media (min-width: 1080px) {
        .problems-list {
          margin-top: 86px;

          row-gap: 56px;
          grid-template-columns: repeat(3, minmax(0, 1fr));
        }
      }

      @media (min-width: 480px) and (max-width: 1080px) {
        .problems-list {
          margin-top: 74px;

          row-gap: 56px;
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }
      }

      @media (max-width: 480px) {
        .problems-list {
          margin-top: 54px;

          row-gap: 42px;
          grid-template-columns: 1fr;
        }
      }

      .problems-list > li > span {
        font-size: var(--text-s);
        color: var(--dark-link-water);
      }

      .problems-list > li > p {
        margin: 12px 0 0;

        font-size: var(--text-m);
        color: var(--gray-blue);
      }

      .problems-list > li > p > a {
        color: currentColor;

        margin: 0 1px;
        padding: 1px 10px;

        border-radius: 4px;
        background: #e5e5e9;
      }

      .problems-list > li > p > a::after {
        content: '\2192';

        margin-left: 8px;
        font-size: var(--text-s);
      }
    }
  }

  @layer details-section {
    @layer title {
    }

    @layer content {
    }
  }

  @layer faqs-section {
    @layer content {
      #section-faqs > .double-column {
        padding: 0;
      }

      @media (min-width: 1080px) {
        .faqs_sample {
          margin-top: 34px;
        }
      }
    }
  }
}
