@import '/styles/www.[domain].com/accordion.css';

@layer sections {
  section > * {
    max-width: var(--max-width);
  }

  hgroup {
    display: flex;
    align-items: start;
    flex-direction: column;

    gap: 12px;
    width: 100%;
  }

  @layer faqs-section {
    #section-faqs {
      display: flex;
      align-items: center;
      flex-direction: column;

      margin-bottom: 36px;
      padding-top: 238px;
    }

    @media (min-width: 768px) {
      #section-faqs {
        padding-bottom: 92px;
      }
    }

    @media (max-width: 768px) {
      #section-faqs {
        padding-bottom: 62px;
      }
    }

    @layer content {
      @media (min-width: 1080px) {
        #section-faqs > div {
          display: grid;
          grid-template-columns: repeat(13, 1fr);

          gap: 12px;
          padding-top: 58px;
        }
      }

      @media (max-width: 1080px) {
        #section-faqs > div {
          display: flex;
          flex-direction: column;

          padding-top: 46px;
        }
      }

      #section-faqs .accordion:first-child {
        grid-column: 1 / 7;
      }

      #section-faqs .accordion:last-child {
        grid-column: 8 / 14;
      }

      @media (min-width: 1080px) {
        #section-faqs .accordion li:last-child {
          margin-bottom: 0 !important;
        }
      }

      .separation-line {
        width: 8px;
        grid-column: 7;

        margin: 0 auto;

        border-left: 1px solid var(--soft-gray);
        border-right: 1px solid var(--soft-gray);
      }

      @media (max-width: 1080px) {
        .separation-line {
          display: none !important;
        }
      }
    }
  }
}
