<html lang="en" theme="light">
  <head>
    <meta charset="UTF-8" />

    <meta
      name="description"
      content="Experience article reading without revealing your preferences."
    />

    <meta name="author" content="Roger Rovira" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Incognito dB - Page Not Found</title>

    <link rel="stylesheet" type="text/css" href="../styles/cross-page/index.css" />
    <link rel="stylesheet" type="text/css" href="../styles/404/index.css" />
  </head>

  <body>
    <div class="notfound">
      <div class="err_title">
        <h1>Oops!</h1>
      </div>

      <h2>404 - Page not found</h2>

      <p>
        The page you are looking for might have been removed had its name changed or is temporarily
        unavailable.
      </p>

      <a href="/">Go To Homepage</a>
    </div>
  </body>
</html>
