@layer error_page {
  .not_found {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

    height: 50%;
    max-width: 540px;

    margin: 0 auto;
  }
}

@layer err_title {
  .err_title {
    width: 100%;

    text-align: center;
    padding-bottom: 24px;

    border-bottom: 1px solid var(--c-secondary-050);
  }

  .err_title h1 {
    margin: 0;

    font-size: 5rem;
    font-style: normal;

    word-spacing: 0.06em;
    letter-spacing: -0.2px;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 1px rgba(0, 0, 0, 0.07);
    background-image: linear-gradient(145deg, var(--c-secondary-450) 65%, rgba(80, 80, 80, 0.43));

    font-family: 'Satoshi', sans-serif;
  }
}

@layer err_description {
  .err_description {
    width: 80%;

    padding-top: 32px;

    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .err_description h3 {
    margin: 0;

    font-size: 1.95rem;
    color: var(--c-secondary-450);

    line-height: 1.24;
    font-weight: 400;
    font-style: normal;

    word-spacing: 0.04em;
    letter-spacing: -0.02em;

    font-family: sans-serif, segoe ui, nunito-sans, Helvetica;
  }

  .err_description p {
    margin: 24px 0 50px;

    text-align: center;

    font-size: var(--text-m);
    color: var(--c-secondary-250);
  }

  .err_description button {
    width: 100%;

    padding: 10px 0;

    border-radius: 6px;
    border-style: none;

    font-family: sans-serif;
    font-size: var(--text-ml);
    color: var(--c-secondary-000);

    cursor: pointer;
    transition: var(--default-transition);

    background-color: var(--c-secondary-500);
  }
}
