.sec_brief_about {
  padding-top: 146px;
}

@layer section_hgroup {
  @layer title {
    .sec_brief_about .sec_title {
      align-items: flex-start !important;
    }

    .sec_brief_about .sec_title > h2 {
      text-align: start !important;
    }
  }
}

@layer content {
  .sec_brief_about .double_column {
    padding: 24px 0 0 !important;
  }

  @layer user_picture {
    svg.user_main_pilar {
      width: 78%;
    }

    svg.user_main_pilar g {
      opacity: 0.34;
      transform: translate(calc(50% - 7.83px * 8 * 2), calc(50% - 7.83px * 8 * 2)) scale(8);

      z-index: 1;
    }
  }

  @layer button {
    .sec_brief_about .left_big_column > form {
      position: absolute;
      bottom: 0;
    }
  }
}
