.search_types {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@layer title {
  .search_types h2 {
    max-width: 512px;

    padding: 124px 0;
    margin: 0 auto;

    text-align: center;
  }

  .search_types h2 span {
    color: var(--c-primary-200);
  }
}

@layer search_type_information {
  .search_type_information {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    width: 974px;

    padding-bottom: 96px;
  }

  .type_introduction,
  .type_img {
    width: 43%;
  }

  .type_introduction {
    padding-top: 26px;
  }

  .type_introduction h3 {
    margin: 0;
  }

  .img_when_screen_is_small {
    display: none;
  }

  .type_introduction p {
    margin: 24px 0 0 0;
    color: var(--c-secondary-350);
  }

  .type_introduction button {
    margin-top: 28px !important;
  }

  .type_img img {
    width: 100%;
  }
}
