.homepage_nav {
  height: max-content;

  top: 74.8px;

  padding-top: 14px;
  padding-bottom: 14px;
}

.homepage_resources {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.homepage_resources p {
  font-size: var(--text-s);
  font-weight: bold;
  margin: 0 32px 0 0;
}

.homepage_resources ul.nav_links li {
  margin: 0 28px 0 0 !important;
}
