.acknowledgement {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 124px 0;
}

@layer title {
  .acknowledgement h2 {
    margin: 0 0 32px 0;
  }
}

@layer introduction {
  .acknowledgement label {
    width: 612px;

    font-size: var(--text-ml);
    color: var(--c-secondary-100);

    text-align: center;
  }
}
