:root {
  --homepage-width: 1024px;
}

h1 {
  font-size: 5rem;
  color: var(--c-secondary-350);

  font-weight: 400;
  line-height: 1.1;
  font-style: normal;

  letter-spacing: -0.02em;
  word-spacing: 0.06em;

  font-family: 'DM Serif Display', Georgia, serif;
}

h2 {
  font-size: 3.48rem;
  color: var(--c-secondary-450);

  font-weight: bold;
  line-height: 1.15;
  font-style: normal;

  word-spacing: 0.06em;
  letter-spacing: 0.01em;

  font-family: serif;
}

h3 {
  font-size: 1.95rem;
  color: var(--c-secondary-450);
  line-height: 1.24;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.02em;
  word-spacing: 0.04em;
  font-family: sans-serif, segoe ui, nunito-sans, Helvetica;
}

h5 {
  margin: 0;

  font-size: var(--text-m);
  color: var(--c-secondary-250);

  font-weight: 600;
  line-height: 1.5;

  font-style: normal;
  word-spacing: 0.2em;
  letter-spacing: 0.03em;

  font-family: segoe ui, nunito-sans, Tahoma, 'Lucida Sans';
}

@layer section_title {
  .section_title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .section_title h2 {
    margin: 12px 0 0 0;
    text-align: center;
  }
}

@layer section_introduction {
  .section_introduction {
    max-width: 634px;
    margin: 0 auto;
  }

  .section_introduction p {
    margin: 0;

    text-align: center;
    font-size: var(--text-m);
    color: var(--c-secondary-250);
  }
}
