.sec_project_description {
  padding: 142px 0 162px 0;
}

@layer section_hgroup {
  @layer title {
    .sec_project_description .sec_title {
      padding-bottom: 32px;
    }
  }

  @layer brief_explication_with_columns {
    .columns_container {
      margin-top: 42px;
    }

    .columns_container > * {
      grid-column-gap: 0 !important;
    }

    .columns_container img {
      width: 74%;
    }

    .columns_container .img_box_model_one,
    .columns_container .img_box_model_two {
      height: 470px;
    }
  }
}

@layer section_content {
  @layer blockquote {
    blockquote {
      display: flex;
      align-items: center;
      flex-direction: column;

      margin: 0;
    }

    .quote_info {
      font-size: var(--text-m);
      color: var(--c-secondary-100);
    }

    div.quote {
      position: relative;
    }

    div.quote::before {
      content: '\275D';

      position: absolute;
      top: 0;
      left: -56px;

      font-size: 108px;
      color: rgba(255, 255, 255, 0.2);
    }

    div.quote::after {
      content: '\275E';

      position: absolute;
      bottom: -73px;
      right: -56px;

      font-size: 108px;
      color: rgba(255, 255, 255, 0.2);
    }

    div.quote h3 {
      padding: 0;
      margin: 42px 0 0;

      text-align: center;
    }
  }

  @layer square_grid {
    .square_grid {
      width: var(--homepage-width);

      margin: 0 auto;
      padding: 54px 0 0;

      display: grid;
      grid-row-gap: 16px;
      grid-column-gap: 16px;
      grid-auto-columns: 1fr;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }

    .square_grid > span {
      width: 100%;

      border-radius: 8px;
      background-color: var(--c-secondary-010);
    }

    @layer informative_box {
      .informative_box {
        width: calc(100% - 52px * 2);

        margin: 0;
        padding: 52px 46px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .informative_box h2 {
        margin: 0 0 24px;
      }

      .informative_box label {
        font-weight: bold;

        font-size: var(--text-m);
      }

      .informative_box p {
        max-width: 311px;
        margin: 16px 0 32px;

        font-size: var(--text-ms);
        color: var(--c-secondary-250);
      }
    }

    .square_grid span:last-child {
      grid-column: 1 / 3;
    }
  }
}
