@import '../__variables.css';

.about_container {
  margin: 0 auto;
  padding: 55px 0;
}

@media only screen and (max-width: 480px) {
  .about_container {
    --principal-about-box-width: 100%;
  }
}

@media only screen and (min-width: 480px) {
  .about_container {
    --principal-about-box-width: 442px;
  }
}

.about_container.disactive {
  display: none !important;
}

@layer principal_about_box {
  pre.principal_about_box {
    margin-bottom: 24px;
  }

  @media only screen and (max-width: 768px) {
    pre.principal_about_box {
      width: 100%;
    }

    pre.principal_about_box figure {
      width: var(--principal-about-box-width);
    }

    pre.principal_about_box p {
      width: calc(var(--principal-about-box-width) * 0.9);
    }
  }

  @media only screen and (min-width: 768px) {
    pre.principal_about_box {
      width: var(--principal-about-box-width);
    }
  }

  pre.principal_about_box figure {
    display: flex;

    margin: 24px auto;

    --about-box-figure-width: calc(var(--principal-about-box-width) * 0.9);
    --about-box-figure-height: calc(var(--principal-about-box-width) * 0.9 * 0.4);

    width: var(--about-box-figure-width);
    height: var(--about-box-figure-height);
  }

  pre.principal_about_box figure svg {
    width: 100%;
    height: 100%;
  }

  pre.principal_about_box figure svg rect {
    width: 100%;
    height: 100%;

    /* fill: var(--c-secondary-010); */
    fill: url(#principal_about_box_gradient);
  }

  pre.principal_about_box figure svg path {
    /* fill: url(#principal_about_box_gradient); */
    fill: var(--c-bg);

    --scale: 0.16;

    --path-normal-width: 576px;
    --path-normal-height: 384px;

    --path-actual-width: calc(var(--path-normal-width) * var(--scale));
    --path-actual-height: calc(var(--path-normal-height) * var(--scale));

    --offest-y: 50px;

    /*
     * Número con el que se debe multiplicar
     * para que las coordenadas vuelvan a su
     * valor real y no se vean afectadas por
     * la modificaión de `scale`.
     */
    --n: calc(1 / var(--scale));

    --x: calc((var(--path-actual-width) / -2 + 50%) * var(--n));
    --y: calc((var(--path-actual-height) / -2 + 50%) * var(--n) - var(--offest-y));

    transform: scale(var(--scale)) translate(var(--x), var(--y));
  }

  pre.principal_about_box label {
    margin: 0;
    padding-top: 24px;
    padding-left: 38px;

    text-align: initial;
    letter-spacing: 0.01em;

    font-weight: bold;
    font-size: var(--text-ml);
    color: var(--c-secondary-350);
    font-family: system-ui !important;

    border-top: 1px solid var(--c-secondary-050);
  }

  pre.principal_about_box p {
    margin: 14px 95px 24px 38px;

    text-align: initial;
    white-space: break-spaces;

    font-size: var(--text-ms);
    color: var(--c-secondary-250);
  }

  pre.principal_about_box a {
    margin: 0 64px 24px 38px;

    text-align: initial;
    white-space: break-spaces;

    font-size: var(--text-ms);
    color: var(--c-primary-300);
  }

  @media only screen and (max-width: 768px) {
    pre.principal_about_box p {
      margin-left: auto !important;
      margin-right: auto !important;

      padding-left: var(--gutter-x);
      padding-right: var(--gutter-x);
    }
  }
}

.secondary_boxes_container {
  --secondary-about-box-width: 232px;

  padding: 92px 0 0 0;
}

/* --------- SECONDARY BOXES CONTAINER TITLE  --------- */

.title_secondary_boxes_container {
  width: var(--secondary-about-box-width);

  padding: 6px 24px;
  margin: 0 auto 26px auto;

  border-radius: 6px;
  background: var(--c-secondary-010);
}

.title_secondary_boxes_container p {
  margin: 0;

  text-align: center;

  font-weight: bold;
  font-size: var(--text-ms);
  color: var(--c-secondary-350);
}

/* ----------- SECONDARY ABOUT BOXES LIST  ----------- */

.about_container .secondary_boxes_container ul {
  display: flex;

  margin: 0 auto;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .about_container .secondary_boxes_container ul {
    flex-direction: column;
    align-content: center;

    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .about_container .secondary_boxes_container ul {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    max-width: 1200px;
  }
}

.about_container .secondary_boxes_container ul li {
  display: flex;
  flex-direction: column;

  margin: 0 18px 32px 18px;
}

@media only screen and (max-width: 768px) {
  .about_container .secondary_boxes_container ul li {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@layer secondary_about_box {
  pre.secondary_about_box {
    width: var(--secondary-about-box-width);

    margin: 0;
    padding: 24px;
  }

  @media only screen and (max-width: 768px) {
    pre.secondary_about_box {
      width: 100%;
    }
  }

  pre.secondary_about_box figure {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 36px;
    height: 36px;

    margin: 42px auto 0 0;

    background-color: var(--c-secondary-010);
    border: 1px solid var(--c-secondary-050);

    border-radius: 50%;
  }

  pre.secondary_about_box figure svg {
    width: 22px;
    height: 22px;
  }

  pre.secondary_about_box figure svg path {
    fill: none;

    stroke-width: 2px;
    stroke: var(--c-primary-300);
  }

  pre.secondary_about_box p.box_title {
    margin: 0;
    padding-top: 18px;

    font-weight: bold;
    font-size: var(--text-ms);
    color: var(--c-primary-300);

    font-family: system-ui !important;
  }

  pre.secondary_about_box p.box_text {
    margin: 12px 0;

    font-size: var(--text-ms);
    color: var(--c-secondary-250);

    white-space: break-spaces;
  }
}
