<div class="gradient_container">
  <svg>
    <defs>
      <radialGradient id="radial-pink-gradient">
        <stop stop-color="#7775D6"></stop>
        <stop offset="1" stop-color="#ab6aff"></stop>
      </radialGradient>

      <radialGradient id="radial-blue-gradient">
        <stop stop-color="#7775D6"></stop>
        <stop offset="1" stop-color="#3e76fe"></stop>
      </radialGradient>

      <radialGradient id="radial-white-gradient">
        <stop stop-color="#acadb3"></stop>
        <stop offset="1" stop-color="#5d5f6c"></stop>
      </radialGradient>
    </defs>
  </svg>
</div>
