@layer double_column {
  .double_column {
    width: var(--homepage-width);

    margin: 0 auto;
    padding: 82px 34px 41px;

    display: grid;
    grid-row-gap: 4rem;
    grid-column-gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  /* COLUMNS */

  .left_big_column {
    grid-column: span 5 / span 5;
    grid-column-start: 1;
    grid-row: 1;
  }

  .left_little_column {
    grid-column: span 4 / span 4;
    grid-column-start: 1;
    grid-row: 1;
  }

  .right_big_column {
    grid-column: span 5 / span 5;
    grid-column-start: 6;
  }

  .right_little_column {
    grid-column: span 4 / span 4;
    grid-column-start: 7;
  }

  /* COLUMN TEXT */

  .double_column h3 {
    margin: 0 0 24px;
  }

  .double_column p {
    margin: 0 0 24px 0;

    font-size: var(--text-m);
    color: var(--c-secondary-250);
  }

  /* COLUMN IMAGES */

  .double_column .img_container,
  .double_column .img_container_black {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 12px;
  }

  .double_column .img_container {
    background-color: var(--c-secondary-010);
  }

  .double_column .img_container_black {
    background-color: var(--c-secondary-500);
  }

  .double_column img {
    width: 64%;
  }

  /* BUTTONS */
  .double_column button {
    margin-top: 18px;
  }
}

:root {
  --homepage-width: 1024px;
}

h1 {
  font-size: 5rem;
  color: var(--c-secondary-350);

  font-weight: 400;
  line-height: 1.1;
  font-style: normal;

  letter-spacing: -0.02em;
  word-spacing: 0.06em;

  font-family: 'DM Serif Display', Georgia, serif;
}

h2 {
  font-size: 3.48rem;
  color: var(--c-secondary-450);

  font-weight: bold;
  line-height: 1.15;
  font-style: normal;

  word-spacing: 0.06em;
  letter-spacing: 0.01em;

  font-family: serif;
}

h3 {
  font-size: 1.95rem;
  color: var(--c-secondary-450);
  line-height: 1.24;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.02em;
  word-spacing: 0.04em;
  font-family: sans-serif, segoe ui, nunito-sans, Helvetica;
}

h5 {
  margin: 0;

  font-size: var(--text-m);
  color: var(--c-secondary-250);

  font-weight: 600;
  line-height: 1.5;

  font-style: normal;
  word-spacing: 0.2em;
  letter-spacing: 0.03em;

  font-family: segoe ui, nunito-sans, Tahoma, 'Lucida Sans';
}

button.model_one {
  background-color: var(--c-primary-200);
  border-radius: 6px;
  border-style: none;
  color: var(--c-bg);
  cursor: pointer;
  font-family: sans-serif;
  font-size: var(--text-ml);
  margin: 0;
  padding: 12px 22px;
  transition: var(--default-transition);
}

button.model_two {
  background-color: #e3e8fc;
  border-radius: 6px;
  border-style: none;
  color: var(--c-primary-300);
  cursor: pointer;
  font-family: sans-serif;
  font-size: var(--text-ml);
  margin: 0;
  padding: 12px 22px;
  transition: var(--default-transition);
}

button.model_three {
  background-color: var(--c-secondary-500);
  width: 100%;
  border-radius: 6px;
  border-style: none;
  color: var(--c-secondary-000);
  cursor: pointer;
  font-family: sans-serif;
  font-size: var(--text-ml);
  padding: 10px 0;
  transition: var(--default-transition);
}

a.model_one {
  display: block;
  text-align: initial;
  white-space: break-spaces;
  font-size: var(--text-m);
  color: var(--c-primary-300);
}

@layer box_model_two {
  pre.box_model_two {
    margin: 0;
  }

  @media only screen and (min-width: 768px) {
    pre.box_model_two {
      width: 298px;
      background-color: var(--c-secondary-450);
      border-color: var(--c-secondary-450);
      border-width: 1px;
    }
  }

  @media only screen and (max-width: 768px) {
    pre.box_model_two {
      width: 100%;
    }
  }

  .box_figure_container {
    display: flex;
    padding: 24px 0;
    background: var(--c-secondary-010);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .box_figure_container figure {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    margin: 0 auto;

    background-color: var(--c-bg);
    border: 1px solid var(--c-secondary-050);

    border-radius: 50%;
  }

  .box_figure_container figure svg {
    width: 22px;
    height: 22px;
  }

  .box_figure_container figure svg path {
    fill: none;

    stroke-width: 2px;
    stroke: var(--c-secondary-300);
  }

  pre.box_model_two p.box_title {
    margin: 0;
    padding: 26px 24px 0 24px;
    font-weight: bold;
    font-size: var(--text-m);
    color: var(--c-bg);
    font-family: system-ui !important;
  }

  pre.box_model_two p.box_text {
    padding: 0 24px;
    margin: 18px 0 24px 0;
    font-size: var(--text-ms);
    color: #9a9ea3;
    white-space: break-spaces;
  }
}

@layer section_title {
  .section_title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .section_title h2 {
    margin: 12px 0 0 0;
    text-align: center;
  }
}

@layer section_brief_introduction {
  .section_brief_introduction {
    max-width: 634px;
    margin: 0 auto;
  }

  .section_brief_introduction p {
    margin: 0;

    text-align: center;
    font-size: var(--text-m);
    color: var(--c-secondary-250);
  }
}
