@layer double_column {
  .double_column {
    width: var(--homepage-width);

    margin: 0 auto;
    padding: 82px 34px 41px;

    display: grid;
    grid-row-gap: 4rem;
    grid-column-gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  /* COLUMNS */

  .left_big_column {
    grid-column: span 5 / span 5;
    grid-column-start: 1;
    grid-row: 1;
  }

  .left_little_column {
    grid-column: span 4 / span 4;
    grid-column-start: 1;
    grid-row: 1;
  }

  .right_big_column {
    grid-column: span 5 / span 5;
    grid-column-start: 6;
  }

  .right_little_column {
    grid-column: span 4 / span 4;
    grid-column-start: 7;
  }

  /* COLUMN TEXT */

  .double_column h3 {
    margin: 0 0 24px;
  }

  .double_column p {
    margin: 0 0 24px 0;

    font-size: var(--text-m);
    color: var(--c-secondary-250);
  }

  /* COLUMN IMAGES */

  .double_column .img_container,
  .double_column .img_container_black {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 12px;
  }

  .double_column .img_container {
    background-color: var(--c-secondary-010);
  }

  .double_column .img_container_black {
    background-color: var(--c-secondary-500);
  }

  .double_column img {
    width: 64%;
  }

  /* BUTTONS */

  .double_column button {
    margin-top: 18px;
  }
}
