.notfound {
  max-width: 410px;
  width: 100%;
  text-align: center;

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.err_title {
}
