@layer double_column_layer {
  .double_column {
    width: var(--homepage-width);

    margin: 0 auto;
    padding: 82px 34px 41px;

    display: grid;
    grid-row-gap: 4rem;
    grid-column-gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
}

@layer double_column_layer.columns {
  .left_big_column {
    position: relative;

    grid-column: span 5 / span 5;
    grid-column-start: 1;
    grid-row: 1;
  }

  .left_little_column {
    position: relative;

    grid-column: span 4 / span 4;
    grid-column-start: 1;
    grid-row: 1;
  }

  .right_big_column {
    position: relative;

    grid-column: span 5 / span 5;
    grid-column-start: 6;
  }

  .right_little_column {
    position: relative;

    grid-column: span 4 / span 4;
    grid-column-start: 7;
  }
}

@layer double_column_layer.column_text {
  .double_column h3 {
    margin: 0 0 24px;
  }

  .double_column p {
    margin: 24px 0;
    font-size: var(--text-l);
  }
}

@layer double_column_layer.column_btn {
  .double_column button {
    margin-top: 24px;
  }
}
