@font-face {
  font-family: 'Satoshi';
  src: url('../../../assets/fonts/Satoshi-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('../../../assets/fonts/Inter-Thin.ttf') format('truetype');

  font-weight: 100;
}

@font-face {
  font-family: 'Inter';
  src: url('../../../assets/fonts/Inter-ExtraLight.ttf') format('truetype');

  font-weight: 200;
}

@font-face {
  font-family: 'Inter';
  src: url('../../../assets/fonts/Inter-Light.ttf') format('truetype');

  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url('../../../assets/fonts/Inter-Regular.ttf') format('truetype');

  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('../../../assets/fonts/Inter-Medium.ttf') format('truetype');

  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../../../assets/fonts/Inter-SemiBold.ttf') format('truetype');

  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('../../../assets/fonts/Inter-Bold.ttf') format('truetype');

  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('../../../assets/fonts/Inter-ExtraBold.ttf') format('truetype');

  font-weight: 800;
}

@font-face {
  font-family: 'Inter';
  src: url('../../../assets/fonts/Inter-Black.ttf') format('truetype');

  font-weight: 900;
}

@layer headings {
  h1 {
    font-size: 4.25rem;
    color: var(--c-secondary-000);

    font-weight: 700;
    line-height: 1.26;
    font-style: normal;

    word-spacing: 0.06em;
    letter-spacing: -0.2px;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 1px rgba(0, 0, 0, 0.07);
    background-image: linear-gradient(145deg, #fff 65%, rgba(255, 255, 255, 0.43));

    font-family: 'Satoshi', sans-serif;
  }

  h2 {
    font-size: 3.48rem;
    color: var(--c-secondary-450);

    font-weight: bold;
    line-height: 1.15;
    font-style: normal;

    word-spacing: 0.06em;
    letter-spacing: 0.01em;

    font-family: serif;
  }

  h3 {
    font-size: 1.95rem;
    color: var(--c-secondary-450);
    line-height: 1.24;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.02em;
    word-spacing: 0.04em;
    font-family: sans-serif, segoe ui, nunito-sans, Helvetica;
  }

  h5 {
    margin: 0;

    font-size: var(--text-m);
    color: var(--c-secondary-250);

    font-weight: 600;
    line-height: 1.5;

    font-style: normal;
    word-spacing: 0.2em;
    letter-spacing: 0.03em;

    font-family: segoe ui, nunito-sans, Tahoma, 'Lucida Sans';
  }
}

@layer section_title {
  .sec_title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .sec_title h2 {
    margin: 12px 0 0 0;
    text-align: center;
  }
}

@layer centered_text {
  .centered_text {
    max-width: 634px;
    margin: 0 auto;
  }

  .centered_text h3 {
    margin: 0 0 24px;

    text-align: center;
  }

  .centered_text p {
    margin: 0;

    text-align: center;
    font-size: var(--text-m);
    color: var(--c-secondary-250);
  }
}

@layer lateral_text {
  .lateral_text {
    width: var(--homepage-width);
    margin: 0 auto;
  }

  .lateral_text h3 {
    margin: 0 0 24px;
  }

  .lateral_text p {
    max-width: 634px;

    margin: 0;

    font-size: var(--text-m);
    color: var(--c-secondary-250);
  }
}
